**IMPORTAR LIBRERIAS**

---

In [46]:
# Librerias de manejo de datos
import pandas as pd

In [47]:
# Importar conexi√≥n
from db_connection import get_connection

# Conectarse a la base de datos
conexion = get_connection()
cursor = conexion.cursor()

‚úÖ Conexi√≥n exitosa a la base de datos

In [48]:
# Importar librer√≠as para la conexi√≥n a la base de datos con SQLAlchemy
from db_connection import get_engine

engine = get_engine()

In [49]:
# üìå Obtener todas las tablas
cursor.execute("SHOW TABLES;")
tablas = [fila[0] for fila in cursor.fetchall()]
print(f"Total de tablas encontradas: {len(tablas)}")

Total de tablas encontradas: 50

---

**FUNCIONES**

---

In [50]:
def borrar_lista_tablas(tablas_a_borrar):
    """
    Borra las tablas de la base de datos que se pasan como argumento.
    """
    for tabla in tablas_a_borrar:
        try:
            cursor.execute(f"DROP TABLE `{tabla}`;")
            tablas.remove(tabla)
            print(f"‚úÖ Tabla eliminada: {tabla}")
        except Exception as e:
            print(f"‚ùå Error al eliminar {tabla}: {e}")
    
    # Confirmar cambios
    conexion.commit()

------

**FILTROS PARA SEGREGAR Y ELIMINAR LAS TABLAS QUE NO SON √öTILES**

---

*PRIMER FILTRO: Tablas con menos de 2 registros*

In [51]:
# Escoger tablas a eliminar
tablas_a_borrar = []

for tabla in tablas:
    try:
        cursor.execute(f"SELECT COUNT(*) FROM `{tabla}`;")
        total = cursor.fetchone()[0]
        if total <= 1:
            tablas_a_borrar.append(tabla)
    except Exception as e:
        print(f"‚ùå Error evaluando tabla {tabla}: {e}")

print(f"\nTablas candidatas para eliminaci√≥n ({len(tablas_a_borrar)}):")
print(tablas_a_borrar)

Tablas candidatas para eliminaci√≥n (0):
[]

In [53]:
# ‚ö†Ô∏è Solo si tienes respaldo y est√°s en entorno seguro
# ELIMINAR TABLAS CANDIDATAS

# Desactivar restricciones
cursor.execute("SET FOREIGN_KEY_CHECKS=0;")

borrar_lista_tablas(tablas_a_borrar)

# Volver a activar restricciones
cursor.execute("SET FOREIGN_KEY_CHECKS=1;")

---

*SEGUNDO FILTRO: Tablas posiblemente innecesarias por el nombre y breve an√°lisis*

In [54]:
# Imprimir los nombres de las tablas restantes
for tabla in tablas:
    print(tabla)

accounting_account_balances
accounting_accounts
accounting_movements
accounting_voucher_items
accounting_voucher_types
accounting_vouchers
billing_numberings
contact_relationships
contact_statements
contacts
contract_salary_history
costs_and_expenses
costs_and_expenses_categories
coupons
document_items
documents
ecommerce_legal_info
ecommerce_purchase_orders
employee_contracts
employee_positions
employees
fixed_asset_depreciations
fixed_assets
fixed_assets_groups
headquarter_warehouses
headquarters
inventory_adjustments
inventory_groups
item_balance
item_categories
item_depreciations
item_kardex
item_subcategories
item_variations
items
payment_conditions
payments
payroll_deductions
payroll_details
payroll_incomes
payroll_providers
payrolls
price_lists
retention_concepts
retentions
retentions_applied
retentions_certificates
taxes
warehouse_transfer_logs
warehouses

*AN√ÅLISIS Y CONCLUSIONES DE LA INFORMACI√ìN OBTENIDA*

**Tablas clave para an√°lisis de gesti√≥n empresarial (üí° Mantener)**

Estas son probablemente las m√°s √∫tiles para an√°lisis de KPIs, dashboards o visualizaci√≥n de negocio:

*Categor√≠a	//  Tablas clave*

üì¶ Inventario	= items, item_balance, item_kardex, warehouses, inventory_adjustments, item_categories, item_subcategories, item_variations

üíº Ventas / Documentos	= documents, document_items, contacts (clientes/proveedores)

üßæ Contabilidad	= accounting_vouchers, accounting_voucher_items, accounting_accounts, accounting_movements, retentions, retention_concepts, retentions_applied, accounting_account_balances

üë• Empleados / N√≥mina	= employees, employee_contracts, payrolls, payroll_details, payroll_incomes, payroll_deductions

üõí Compras	= ecommerce_purchase_orders

üìä Precios	= price_lists

üè™ Organizaci√≥n	= headquarters, user_headquarters, roles, user_roles, company_areas

üßæ Impuestos	= taxes

üè≠ Activos fijos	= fixed_assets, fixed_asset_depreciations, fixed_assets_groups

**Relevancia baja o dependiente del contexto (ü§î Revisar)**

*Estas podr√≠an ser √∫tiles dependiendo del foco del proyecto (clientes, pedidos, legal, e-commerce):*

contact_relationships, contact_accounts, contact_statements

coupons, coupon_groups (si hay ecommerce)

employee_positions, contract_salary_history

plan_electronic_documents, plan_system_controller

ecommerce_legal_info

costs_and_expenses, costs_and_expenses_categories

radian_documents (puede ser de facturaci√≥n electr√≥nica)

dining_tables (¬ørestaurante? puede ser irrelevante)

system_counters, system_restrictions

In [55]:
# Lista de tablas candidatas a eliminar
tablas_candidatas = [
    "api_access_tokens",
    "electronic_payroll_test_set",
    "migrations",
    "oauth_clients",
    "paynilo",
    "role_permissions",
    "template_versions",
    "templates",
    "user_data",
    "values_x_item",
    "warehouse_transfer_logs",
    "billing_numberings",
    "custom_fields",
    "configurations",
    "system_counters",
    "system_restrictions"
]

---

*TERCER FILTRO: tablas a eliminar seg√∫n sus columnas y n√∫mero de filas*

In [56]:

# Mostrar informaci√≥n muy b√°sica de las tablas candidatas
for tabla in tablas_candidatas:
    try:
        df = pd.read_sql(f"SELECT * FROM `{tabla}` LIMIT 5", engine)
        print(f"\nüìò Tabla: {tabla}")
        print("Columnas:", df.columns.tolist())
        print("size: ", df.size)
    except Exception as e:
        print(f"\n‚ùå Error al cargar tabla {tabla}: {e}")

‚ùå Error al cargar tabla api_access_tokens: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.api_access_tokens' doesn't exist
[SQL: SELECT * FROM `api_access_tokens` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

‚ùå Error al cargar tabla electronic_payroll_test_set: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.electronic_payroll_test_set' doesn't exist
[SQL: SELECT * FROM `electronic_payroll_test_set` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

‚ùå Error al cargar tabla migrations: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.migrations' doesn't exist
[SQL: SELECT * FROM `migrations` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

‚ùå Error al cargar tabla oauth_clients: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.oauth_clients' doesn't exist
[SQL: SELECT * FROM `oauth_clients` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

‚ùå Error al cargar tabla paynilo: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.paynilo' doesn't exist
[SQL: SELECT * FROM `paynilo` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

‚ùå Error al cargar tabla role_permissions: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.role_permissions' doesn't exist
[SQL: SELECT * FROM `role_permissions` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

‚ùå Error al cargar tabla template_versions: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.template_versions' doesn't exist
[SQL: SELECT * FROM `template_versions` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

‚ùå Error al cargar tabla templates: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.templates' doesn't exist
[SQL: SELECT * FROM `templates` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

‚ùå Error al cargar tabla user_data: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.user_data' doesn't exist
[SQL: SELECT * FROM `user_data` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

‚ùå Error al cargar tabla values_x_item: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.values_x_item' doesn't exist
[SQL: SELECT * FROM `values_x_item` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

üìò Tabla: warehouse_transfer_logs
Columnas: ['id', 'source_warehouse_id', 'destination_warehouse_id', 'headquarter_id', 'item_id', 'quantity', 'user_id', 'date', 'notes', 'created_at', 'updated_at']
size:  55

üìò Tabla: billing_numberings
Columnas: ['id', 'document_type_id', 'pos_numbering', 'name', 'prefix', 'initial_number', 'current_number', 'final_number', 'valid_since', 'valid_until', 'validity', 'preferred', 'electronic_billing', 'is_ecommerce', 'resolution_number', 'resolution_type', 'resolution_description', 'tech_key', 'notes', 'used', 'factible_numbering_id', 'factible_report_id', 'template', 'headquarter_id', 'warehouse_id', 'status', 'user_id', 'deleted_at', 'created_at', 'updated_at', 'contingency']
size:  155

‚ùå Error al cargar tabla custom_fields: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.custom_fields' doesn't exist
[SQL: SELECT * FROM `custom_fields` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

‚ùå Error al cargar tabla configurations: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.configurations' doesn't exist
[SQL: SELECT * FROM `configurations` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

‚ùå Error al cargar tabla system_counters: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.system_counters' doesn't exist
[SQL: SELECT * FROM `system_counters` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

‚ùå Error al cargar tabla system_restrictions: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.system_restrictions' doesn't exist
[SQL: SELECT * FROM `system_restrictions` LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)

**Tablas candidatas fuertes para eliminaci√≥n (por contenido y nombre)**

Estas tablas tienen pocos registros, estructuras irrelevantes para KPIs o funciones accesorias que no impactan directamente en la gesti√≥n:

*Tabla	// Motivo principal*

api_access_tokens	Manejo t√©cnico de tokens

electronic_payroll_test_set	Datos de prueba (test set)

migrations	Solo para migraciones del sistema

oauth_clients	Seguridad/autenticaci√≥n interna

paynilo	Integraci√≥n de pagos externa

role_permissions	Control de permisos internos

template_versions	Versiones de plantillas, sin datos

templates	Estructura visual, no anal√≠tica

user_data	Solo datos de √°rea/cargo del usuario

custom_fields	Campos personalizados (metadatos)

system_counters	Estad√≠sticas internas del sistema

system_restrictions	Restricciones de uso/licencia

values_x_item	Datos muy t√©cnicos por item, posiblemente redundantes

warehouse_transfer_logs	Registro t√©cnico, no necesariamente √∫til para KPIs

----

*CUARTO FILTRO: Investigar mas a fondo las tablas dudosas*

**‚ö†Ô∏è Tablas dudosas (verificar con .info() antes de decidir)**

Estas tienen algo m√°s de contenido o potencial anal√≠tico dependiendo del negocio:

*billing_numberings:* Tiene 155 registros. Podr√≠a contener informaci√≥n √∫til para facturaci√≥n si los n√∫meros se asocian a documentos.

*configurations:* Solo 25 registros, pero hay que ver si son configuraciones claves que afectan reportes.

In [57]:
# Obtener el esquema de cada tabla para decidir si son candidatas a eliminaci√≥n
tablas_dudosas = ['billing_numberings', 'configurations'] # Agregar mas tablas si es necesario

for tabla in tablas_dudosas:
    print(f"\nüìã Tabla: {tabla}")
    try:
        df = pd.read_sql(f"SELECT * FROM {tabla}", con=engine)
        print("‚ñ∂Ô∏è .info():")
        print(df.info())
        print("‚ñ∂Ô∏è Primeras filas:")
        display(df.head())
    except Exception as e:
        print(f"‚ùå Error al cargar {tabla}: {e}")

üìã Tabla: billing_numberings
‚ñ∂Ô∏è .info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      50 non-null     int64
 1   document_type_id        50 non-null     int64
 2   pos_numbering           50 non-null     int64
 3   name                    50 non-null     object
 4   prefix                  50 non-null     object
 5   initial_number          50 non-null     int64
 6   current_number          50 non-null     int64
 7   final_number            22 non-null     float64
 8   valid_since             22 non-null     object
 9   valid_until             22 non-null     object
 10  validity                22 non-null     float64
 11  preferred               50 non-null     int64
 12  electronic_billing      50 non-null     int64
 13  is_ecommerce            50 non-null     int64
 14  resolution_number       19 non-null     object
 15  resolution_type         19 non-null     object
 16  resolution_description  19 non-null     object
 17  tech_key                5 non-null      object
 18  notes                   0 non-null      object
 19  used                    50 non-null     int64
 20  factible_numbering_id   0 non-null      object
 21  factible_report_id      0 non-null      object
 22  template                31 non-null     object
 23  headquarter_id          50 non-null     int64
 24  warehouse_id            50 non-null     int64
 25  status                  50 non-null     int64
 26  user_id                 50 non-null     int64
 27  deleted_at              0 non-null      object
 28  created_at              25 non-null     datetime64[ns]
 29  updated_at              31 non-null     datetime64[ns]
 30  contingency             50 non-null     int64
dtypes: datetime64[ns](2), float64(2), int64(14), object(13)
memory usage: 12.2+ KB
None
‚ñ∂Ô∏è Primeras filas:

,id,document_type_id,pos_numbering,name,prefix,initial_number,current_number,final_number,valid_since,valid_until,...,factible_report_id,template,headquarter_id,warehouse_id,status,user_id,deleted_at,created_at,updated_at,contingency
0,1,11,0,Remisiones,,0,56,NaN,None,None,...,None,"{""id"": 1, ""name"": ""Carta"", ""template_type"": ""1""}",1,1,1,10,None,NaT,2024-05-24 09:54:00,0
1,2,12,0,Cotizaciones,,0,91,NaN,None,None,...,None,"{""id"": 3, ""name"": ""POS"", ""template_type"": ""1""}",1,1,1,10,None,NaT,2024-07-13 11:53:24,0
2,3,13,0,Recibos de Caja,,0,506,NaN,None,None,...,None,"{""id"": 1, ""name"": ""Carta"", ""template_type"": ""1""}",1,1,1,10,None,NaT,2024-07-17 10:58:41,0
3,4,14,0,Comprobantes de Pago,,0,113,NaN,None,None,...,None,"{""id"": 1, ""name"": ""Carta"", ""template_type"": ""1""}",1,1,1,0,None,NaT,2024-07-17 11:00:31,0
4,5,15,0,√ìrdenes de Compra,,0,23,NaN,None,None,...,None,"{""id"": 1, ""name"": ""Carta"", ""template_type"": ""1""}",1,1,1,0,None,NaT,2024-04-03 16:10:15,0

üìã Tabla: configurations
‚ùå Error al cargar configurations: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'novateam.configurations' doesn't exist
[SQL: SELECT * FROM configurations]
(Background on this error at: https://sqlalche.me/e/20/f405)

---

**TABLAS FINALES A ELIMINAR DESPU√âS DE TODOS LOS FILTROS Y AN√ÅLISIS INDIVIDUAL**

Falta escoger y seleccionar individualmente

In [58]:
tablas_a_eliminar = [
    "api_access_tokens",             # Manejo t√©cnico de tokens
    "electronic_payroll_test_set",   # Datos de prueba (test set)
    "migrations",                    # Solo para migraciones del sistema
    "oauth_clients",                 # Seguridad/autenticaci√≥n interna
    "paynilo",                       # Integraci√≥n de pagos externa
    "role_permissions",             # Control de permisos internos
    "template_versions",            # Versiones de plantillas, sin datos
    "templates",                    # Estructura visual, no anal√≠tica
    "user_data",                    # Solo datos de √°rea/cargo del usuario
    "custom_fields",                # Campos personalizados (metadatos)
    "system_counters",              # Estad√≠sticas internas del sistema
    "system_restrictions",          # Restricciones de uso/licencia
    "values_x_item",                # Datos t√©cnicos por √≠tem
    "user_roles",
    "user_data",
    "user_headquarters",
    "term_and_conditions,",
    "severance_payments",
    "roles", 
    "role_permissions",
    "radian_events",
    "radian_documents",
    "plan_system_controller",
    "plan_electronic_documents",
    "api_access_tokens",
    "configurations",
    "company_areas",
    "consolidated_retention_certificates",
    "contact_accounts",
    "contact_relationship",
    "contact_statement",
    "contact",
    "custom_fields",
    "dining_tables",
    "ecomerce_legal_info",
    "ecomerce_purchase_orders",
    "electronic_payroll_test_set", 
    "electronic_contracts",
    "migraciones ]"     # Registro t√©cnico, no √∫til para KPIs

]

In [59]:
# ‚ö†Ô∏è Solo si tienes respaldo y est√°s en entorno seguro
# ELIMINAR TABLAS FINALES ¬°OJO HAY QUE ESCOGER ANTES DE EJECUTAR!

# Desactivar restricciones !NO SE HACE ANTES DE VERIFICAR QUE NO GENERA NING√öN DA√ëO!
cursor.execute("SET FOREIGN_KEY_CHECKS=0;")

borrar_lista_tablas(tablas_a_eliminar)

# Volver a activar restricciones !NO SE HACE ANTES DE VERIFICAR QUE NO GENERA NING√öN DA√ëO!
cursor.execute("SET FOREIGN_KEY_CHECKS=1;")

‚ùå Error al eliminar api_access_tokens: 1051 (42S02): Unknown table 'novateam.api_access_tokens'
‚ùå Error al eliminar electronic_payroll_test_set: 1051 (42S02): Unknown table 'novateam.electronic_payroll_test_set'
‚ùå Error al eliminar migrations: 1051 (42S02): Unknown table 'novateam.migrations'
‚ùå Error al eliminar oauth_clients: 1051 (42S02): Unknown table 'novateam.oauth_clients'
‚ùå Error al eliminar paynilo: 1051 (42S02): Unknown table 'novateam.paynilo'
‚ùå Error al eliminar role_permissions: 1051 (42S02): Unknown table 'novateam.role_permissions'
‚ùå Error al eliminar template_versions: 1051 (42S02): Unknown table 'novateam.template_versions'
‚ùå Error al eliminar templates: 1051 (42S02): Unknown table 'novateam.templates'
‚ùå Error al eliminar user_data: 1051 (42S02): Unknown table 'novateam.user_data'
‚ùå Error al eliminar custom_fields: 1051 (42S02): Unknown table 'novateam.custom_fields'
‚ùå Error al eliminar system_counters: 1051 (42S02): Unknown table 'novateam.system_counters'
‚ùå Error al eliminar system_restrictions: 1051 (42S02): Unknown table 'novateam.system_restrictions'
‚ùå Error al eliminar values_x_item: 1051 (42S02): Unknown table 'novateam.values_x_item'
‚ùå Error al eliminar user_roles: 1051 (42S02): Unknown table 'novateam.user_roles'
‚ùå Error al eliminar user_data: 1051 (42S02): Unknown table 'novateam.user_data'
‚ùå Error al eliminar user_headquarters: 1051 (42S02): Unknown table 'novateam.user_headquarters'
‚ùå Error al eliminar term_and_conditions,: 1051 (42S02): Unknown table 'novateam.term_and_conditions,'
‚ùå Error al eliminar severance_payments: 1051 (42S02): Unknown table 'novateam.severance_payments'
‚ùå Error al eliminar roles: 1051 (42S02): Unknown table 'novateam.roles'
‚ùå Error al eliminar role_permissions: 1051 (42S02): Unknown table 'novateam.role_permissions'
‚ùå Error al eliminar radian_events: 1051 (42S02): Unknown table 'novateam.radian_events'
‚ùå Error al eliminar radian_documents: 1051 (42S02): Unknown table 'novateam.radian_documents'
‚ùå Error al eliminar plan_system_controller: 1051 (42S02): Unknown table 'novateam.plan_system_controller'
‚ùå Error al eliminar plan_electronic_documents: 1051 (42S02): Unknown table 'novateam.plan_electronic_documents'
‚ùå Error al eliminar api_access_tokens: 1051 (42S02): Unknown table 'novateam.api_access_tokens'
‚ùå Error al eliminar configurations: 1051 (42S02): Unknown table 'novateam.configurations'
‚ùå Error al eliminar company_areas: 1051 (42S02): Unknown table 'novateam.company_areas'
‚ùå Error al eliminar consolidated_retention_certificates: 1051 (42S02): Unknown table 'novateam.consolidated_retention_certificates'
‚ùå Error al eliminar contact_accounts: 1051 (42S02): Unknown table 'novateam.contact_accounts'
‚ùå Error al eliminar contact_relationship: 1051 (42S02): Unknown table 'novateam.contact_relationship'
‚ùå Error al eliminar contact_statement: 1051 (42S02): Unknown table 'novateam.contact_statement'
‚ùå Error al eliminar contact: 1051 (42S02): Unknown table 'novateam.contact'
‚ùå Error al eliminar custom_fields: 1051 (42S02): Unknown table 'novateam.custom_fields'
‚ùå Error al eliminar dining_tables: 1051 (42S02): Unknown table 'novateam.dining_tables'
‚ùå Error al eliminar ecomerce_legal_info: 1051 (42S02): Unknown table 'novateam.ecomerce_legal_info'
‚ùå Error al eliminar ecomerce_purchase_orders: 1051 (42S02): Unknown table 'novateam.ecomerce_purchase_orders'
‚ùå Error al eliminar electronic_payroll_test_set: 1051 (42S02): Unknown table 'novateam.electronic_payroll_test_set'
‚ùå Error al eliminar electronic_contracts: 1051 (42S02): Unknown table 'novateam.electronic_contracts'
‚ùå Error al eliminar migraciones ]: 1051 (42S02): Unknown table 'novateam.migraciones ]'

**TABLAS ASIGNADAS AL AN√ÅLISIS DE RH - ALEXANDRA**
A continuaci√≥n, se ir√° explorando una a una, las tablas y su contenido para visualizar qu√© tan viables son para el ejercicio propuesto, se realizar√° limpieza de datos, se eliminar√°n nulls seg√∫n convenga o se reemplazar√°n por n/a.  

employee_positions, employees, , employee_contracts, contract_salary_history, payrolls, payroll_details, payroll_incomes, payroll_deductions, payroll_providers, costs_and_expenses, costs_and_expenses_categories, headquarters, coupons.

In [60]:
#TABLA 1: EMPLOYEE_POSITIONS  O Posiciones de empleados. 
# Script para obtener la informaci√≥n de las columnas de 'employee_positions'
try:
    # Obtener la descripci√≥n de las columnas de la tabla 'employee_positions'
    cursor.execute("DESCRIBE employee_positions;")
    columnas_employee_positions = cursor.fetchall()

    print("Columnas de la tabla 'employee_positions':")
    for columna in columnas_employee_positions:
        # Cada 'columna' es una tupla con (nombre_columna, tipo_dato, ...)
        print(f"  - {columna[0]} ({columna[1]})")

except Exception as e:
    print(f"Ocurri√≥ un error al intentar obtener las columnas de 'employee_positions': {e}")

Columnas de la tabla 'employee_positions':
  - id (int unsigned)
  - name (varchar(255))
  - description (varchar(500))
  - salary (double(16,2))
  - status (tinyint(1))
  - user_id (int unsigned)
  - created_at (timestamp)
  - updated_at (timestamp)

Descripci√≥n relacionada a las columnas:
id: int unsigned (Identificador √∫nico de la posici√≥n)
name: varchar(255) (Nombre de la posici√≥n)
description: varchar(500) (Descripci√≥n de la posici√≥n)
salary: double(16,2) (Salario asociado a la posici√≥n)
status: tinyint(1) (Estado de la posici√≥n, probablemente 1 para activa, 0 para inactiva)
user_id: int unsigned (ID del usuario que cre√≥ o modific√≥ el registro, parece una clave for√°nea a una tabla de usuarios)
created_at: timestamp (Marca de tiempo de creaci√≥n del registro)
updated_at: timestamp (Marca de tiempo de la √∫ltima actualizaci√≥n del registro)

In [61]:
# Script para la verificaci√≥n inicial de datos en 'employee_positions'
try:
    # 1. Obtener el n√∫mero total de registros
    cursor.execute("SELECT COUNT(*) FROM employee_positions;")
    total_registros = cursor.fetchone()[0]
    print(f"\nTotal de registros en 'employee_positions': {total_registros}")

    # 2. Verificar valores nulos por columna
    print("\nValores nulos por columna en 'employee_positions':")
    for columna_info in columnas_employee_positions: # Usamos 'columnas_employee_positions' que ya obtuvimos
        nombre_columna = columna_info[0]
        cursor.execute(f"SELECT COUNT(*) FROM employee_positions WHERE {nombre_columna} IS NULL;")
        nulos_count = cursor.fetchone()[0]
        if nulos_count > 0:
            print(f"  - {nombre_columna}: {nulos_count} nulos")
        else:
            print(f"  - {nombre_columna}: 0 nulos")

    # 3. Verificar filas duplicadas (basado en todas las columnas, o solo el ID si es la clave primaria)
    # Asumimos que 'id' deber√≠a ser √∫nico
    cursor.execute("SELECT COUNT(id) - COUNT(DISTINCT id) FROM employee_positions;")
    duplicados_id = cursor.fetchone()[0]
    print(f"\nFilas duplicadas basadas en 'id' en 'employee_positions': {duplicados_id}")

    
    # 4. Obtener valores √∫nicos para columnas espec√≠ficas
    print("\nValores √∫nicos en columnas clave de 'employee_positions':")

    # Para 'name'
    cursor.execute("SELECT DISTINCT name FROM employee_positions LIMIT 10;") # Limitar para no cargar demasiados si hay muchos
    nombres_unicos = [fila[0] for fila in cursor.fetchall()]
    print(f"  - name (primeros 10 √∫nicos): {nombres_unicos}")
    cursor.execute("SELECT COUNT(DISTINCT name) FROM employee_positions;")
    count_nombres_unicos = cursor.fetchone()[0]
    print(f"  - Total de nombres √∫nicos: {count_nombres_unicos}")

    # Para 'status'
    cursor.execute("SELECT DISTINCT status FROM employee_positions;")
    estados_unicos = [fila[0] for fila in cursor.fetchall()]
    print(f"  - status: {estados_unicos}")


except Exception as e:
    print(f"Ocurri√≥ un error durante la verificaci√≥n inicial de datos en 'employee_positions': {e}")

Total de registros en 'employee_positions': 15

Valores nulos por columna en 'employee_positions':
  - id: 0 nulos
  - name: 0 nulos
  - description: 0 nulos
  - salary: 0 nulos
  - status: 0 nulos
  - user_id: 0 nulos
  - created_at: 0 nulos
  - updated_at: 0 nulos

Filas duplicadas basadas en 'id' en 'employee_positions': 0

Valores √∫nicos en columnas clave de 'employee_positions':
  - name (primeros 10 √∫nicos): ['Desarrollador', 'General', 'Asistente Administrativo', 'Gerente', 'Tesorero principal', 'Contador General', 'Log√≠stico Integral', 'Dise√±ador Web', 'Secretaria', 'Auxiliar de soporte']
  - Total de nombres √∫nicos: 14
  - status: [1]

**Bloque 2: Limpieza y Transformaci√≥n de la 1ra tabla: employee_positions**

In [62]:
# Script para la limpieza y transformaci√≥n de 'employee_positions'
try:
    print("\nIniciando limpieza y transformaci√≥n para 'employee_positions'...")

    # 1. Correcci√≥n de errores tipogr√°ficos en la columna 'name'
    # Detectamos 'Secretria' que deber√≠a ser 'Secretaria'
    print("Corrigiendo error tipogr√°fico en la columna 'name': 'Secretria' a 'Secretaria'...")
    cursor.execute("""
        UPDATE employee_positions
        SET name = 'Secretaria'
        WHERE name = 'Secretria';
    """)
    conexion.commit() # Confirmar los cambios en la base de datos
    print("Correcci√≥n de 'name' completada.")

    # 2. Manejo de valores nulos en la columna 'description'
    # Rellenar con 'N/A' seg√∫n lo acordado.
    print("Rellenando valores nulos en la columna 'description' con 'N/A'...")
    cursor.execute("""
        UPDATE employee_positions
        SET description = 'N/A'
        WHERE description IS NULL;
    """)
    conexion.commit() # Confirmar los cambios
    print("Relleno de 'description' completado.")

    print("\nLimpieza y transformaci√≥n de 'employee_positions' finalizada.")

except Exception as e:
    print(f"Ocurri√≥ un error durante la limpieza y transformaci√≥n de 'employee_positions': {e}")
    conexion.rollback() # Revertir cambios en caso de error

Iniciando limpieza y transformaci√≥n para 'employee_positions'...
Corrigiendo error tipogr√°fico en la columna 'name': 'Secretria' a 'Secretaria'...
Correcci√≥n de 'name' completada.
Rellenando valores nulos en la columna 'description' con 'N/A'...
Relleno de 'description' completado.

Limpieza y transformaci√≥n de 'employee_positions' finalizada.

**TABLA 2: EMPLOYEES o EMPLEADOS**

In [63]:
# Script para obtener la informaci√≥n de las columnas de 'employees'
try:
    # Obtener la descripci√≥n de las columnas de la tabla 'employees'
    cursor.execute("DESCRIBE employees;")
    columnas_employees = cursor.fetchall()

    print("Columnas de la tabla 'employees':")
    for columna in columnas_employees:
        # Cada 'columna' es una tupla con (nombre_columna, tipo_dato, ...)
        print(f"  - {columna[0]} ({columna[1]})")

except Exception as e:
    print(f"Ocurri√≥ un error al intentar obtener las columnas de 'employees': {e}")

Columnas de la tabla 'employees':
  - id (int unsigned)
  - uuid (char(36))
  - identity_document_type (json)
  - document_number (varchar(25))
  - birth_date (date)
  - first_name (varchar(50))
  - other_name (varchar(50))
  - first_surname (varchar(50))
  - second_surname (varchar(50))
  - full_name (varchar(255))
  - phone (varchar(25))
  - email (varchar(75))
  - country (json)
  - region (json)
  - city (json)
  - address (varchar(255))
  - headquarter_id (int unsigned)
  - company_area_id (int unsigned)
  - employee_position_id (int unsigned)
  - emergency_contact (json)
  - payment_type (tinyint unsigned)
  - payment_method (json)
  - bank (json)
  - bank_account_type (json)
  - bank_account_number (varchar(255))
  - files (json)
  - status (tinyint(1))
  - settled (tinyint(1))
  - user_id (int unsigned)
  - created_at (timestamp)
  - updated_at (timestamp)
  - deleted_at (timestamp)

*Descripci√≥n de las variables*
id: int unsigned (Identificador √∫nico del empleado) - Clave primaria.
uuid: char(36) (Identificador universal √∫nico) - Probablemente para uso interno o integraci√≥n.
identity_document_type: json (Tipo de documento de identidad) - ¬°Atenci√≥n! Es un JSON. Necesitaremos explorar su estructura interna.
document_number: varchar(25) (N√∫mero de documento)
birth_date: date (Fecha de nacimiento)
first_name: varchar(50) (Primer nombre)
other_name: varchar(50) (Otros nombres) - Puede ser nulo o vac√≠o.
first_surname: varchar(50) (Primer apellido)
second_surname: varchar(50) (Segundo apellido) - Puede ser nulo o vac√≠o.
full_name: varchar(255) (Nombre completo) - ¬°Atenci√≥n! Posible columna redundante si se puede construir a partir de first_name, other_name, first_surname, second_surname. Esto puede ser √∫til, pero tambi√©n una fuente de inconsistencias si no se mantiene sincronizado.
phone: varchar(25) (N√∫mero de tel√©fono)
email: varchar(75) (Correo electr√≥nico)
country: json (Pa√≠s) - ¬°Atenci√≥n! Otro JSON.
region: json (Regi√≥n/Departamento/Estado) - ¬°Atenci√≥n! Otro JSON.
city: json (Ciudad) - ¬°Atenci√≥n! Otro JSON.
address: varchar(255) (Direcci√≥n completa)
headquarter_id: int unsigned (ID de la sede) - Clave for√°nea a la tabla headquarters.
company_area_id: int unsigned (ID del √°rea de la compa√±√≠a) - Clave for√°nea (¬øa una tabla company_areas no listada inicialmente?).
employee_position_id: int unsigned (ID de la posici√≥n del empleado) - Clave for√°nea a employee_positions.
emergency_contact: json (Informaci√≥n de contacto de emergencia) - ¬°Atenci√≥n! Otro JSON.
payment_type: tinyint unsigned (Tipo de pago, e.g., fijo, por horas)
payment_method: json (M√©todo de pago) - ¬°Atenci√≥n! Otro JSON.
bank: json (Informaci√≥n del banco) - ¬°Atenci√≥n! Otro JSON.
bank_account_type: json (Tipo de cuenta bancaria) - ¬°Atenci√≥n! Otro JSON.
user_id: int unsigned (ID del usuario que cre√≥ o modific√≥ el registro)
created_at: timestamp (Marca de tiempo de creaci√≥n del registro)
updated_at: timestamp (Marca de tiempo de la √∫ltima actualizaci√≥n)
deleted_at: timestamp (Marca de tiempo de borrado l√≥gico) - Indica si el registro ha sido "eliminado" l√≥gicamente en lugar de f√≠sicamente.

Bloque 4: Verificaci√≥n inicial de nulos, duplicados y valores √∫nicos en employees

In [64]:
# Script para la limpieza y transformaci√≥n inicial de 'employees' (VERSION FINAL)
print("\n--- Bloque 5: Limpieza y Transformaci√≥n Inicial de 'employees' ---")

try:
    print("Iniciando operaciones de limpieza en 'employees'...")

    # 1. Manejo de valores nulos con 'N/A'
    print("Rellenando valores nulos en 'other_name', 'phone', 'email' con 'N/A'...")
    cursor.execute("""
        UPDATE employees
        SET other_name = 'N/A'
        WHERE other_name IS NULL;
    """)
    conexion.commit() # Confirmar los cambios

    cursor.execute("""
        UPDATE employees
        SET phone = 'N/A'
        WHERE phone IS NULL;
    """)
    conexion.commit() # Confirmar los cambios

    cursor.execute("""
        UPDATE employees
        SET email = 'N/A'
        WHERE email IS NULL;
    """)
    conexion.commit() # Confirmar los cambios
    print("Relleno de nulos completado.")

    # 2. Estandarizaci√≥n de capitalizaci√≥n para nombres
    # Aplicar CONCAT y SUBSTRING solo a los valores que NO sean 'N/A' o cadenas vac√≠as
    print("Estandarizando capitalizaci√≥n de nombres...")

    # first_name
    cursor.execute("""
        UPDATE employees
        SET first_name = CONCAT(UPPER(SUBSTRING(first_name, 1, 1)), LOWER(SUBSTRING(first_name, 2)))
        WHERE first_name IS NOT NULL AND first_name != '';
    """)
    conexion.commit()

    # other_name (solo si no es 'N/A' o vac√≠o)
    cursor.execute("""
        UPDATE employees
        SET other_name = CONCAT(UPPER(SUBSTRING(other_name, 1, 1)), LOWER(SUBSTRING(other_name, 2)))
        WHERE other_name IS NOT NULL AND other_name != 'N/A' AND other_name != '';
    """)
    conexion.commit()

    # first_surname
    cursor.execute("""
        UPDATE employees
        SET first_surname = CONCAT(UPPER(SUBSTRING(first_surname, 1, 1)), LOWER(SUBSTRING(first_surname, 2)))
        WHERE first_surname IS NOT NULL AND first_surname != '';
    """)
    conexion.commit()

    # second_surname (solo si no es 'N/A' o vac√≠o)
    cursor.execute("""
        UPDATE employees
        SET second_surname = CONCAT(UPPER(SUBSTRING(second_surname, 1, 1)), LOWER(SUBSTRING(second_surname, 2)))
        WHERE second_surname IS NOT NULL AND second_surname != 'N/A' AND second_surname != '';
    """)
    conexion.commit()

    # full_name (solo si no es 'N/A' o vac√≠o)
    cursor.execute("""
        UPDATE employees
        SET full_name = CONCAT(UPPER(SUBSTRING(full_name, 1, 1)), LOWER(SUBSTRING(full_name, 2)))
        WHERE full_name IS NOT NULL AND full_name != 'N/A' AND full_name != '';
    """)
    conexion.commit()

    print("Estandarizaci√≥n de capitalizaci√≥n completada.")

    print("\nLimpieza y transformaci√≥n inicial de 'employees' finalizada exitosamente.")

except Exception as e:
    print(f"Ocurri√≥ un error inesperado durante la limpieza y transformaci√≥n inicial de 'employees': {e}")
    # En caso de error, intentar limpiar el cursor y revertir.
    try:
        # Asegurar que cualquier resultado pendiente sea consumido antes de rollback
        if cursor.description is not None:
            cursor.fetchall()
        conexion.rollback()
        print("Transacci√≥n revertida debido a un error.")
    except Exception as rollback_e:
        print(f"Error adicional al intentar revertir la transacci√≥n o limpiar el cursor: {rollback_e}")

--- Bloque 5: Limpieza y Transformaci√≥n Inicial de 'employees' ---
Iniciando operaciones de limpieza en 'employees'...
Rellenando valores nulos en 'other_name', 'phone', 'email' con 'N/A'...
Relleno de nulos completado.
Estandarizando capitalizaci√≥n de nombres...
Estandarizaci√≥n de capitalizaci√≥n completada.

Limpieza y transformaci√≥n inicial de 'employees' finalizada exitosamente.

*An√°lisis realizado para la exploraci√≥n en la segunda tabla y acciones a tomar* 
other_name (16 nulos)
email: 2 nulos.
phone: 3 nulos.
La muestra de identity_document_type ({"id": "13", "description": "C√©dula de ciudadan√≠a", "abbreviation": "C.C"}) nos da una idea clara de la estructura interna. Necesito "aplanar" o extraer esta informaci√≥n en columnas separadas para su uso.
Claves For√°neas (headquarter_id, company_area_id, employee_position_id)
Extracci√≥n y Aplanamiento de Columnas JSON
Limpieza y Transformaci√≥n 
Capitalizaci√≥n est√°ndar para nombres.

In [65]:
# Script para limpiar y aplanar columnas JSON en 'employees' usando Pandas (ESTRATEGIA DEFINITIVA)

import pandas as pd
from db_connection import get_engine # Aseg√∫rate de tener get_engine configurado

print("\n--- Bloque 6 (Estrategia Definitiva): Limpieza de JSONs en 'employees' con Pandas ---")

try:
    # 1. Obtener el engine de SQLAlchemy
    engine = get_engine()
    print("Engine de base de datos obtenido.")

    # 2. Cargar la tabla 'employees' completa en un DataFrame de Pandas
    print("Cargando la tabla 'employees' en un DataFrame de Pandas...")
    df_employees = pd.read_sql("SELECT * FROM employees;", engine)
    print(f"DataFrame de 'employees' cargado. Registros: {len(df_employees)}")

    # Lista de columnas JSON a procesar
    json_columns = [
        'identity_document_type',
        'country',
        'region',
        'city',
        'emergency_contact',
        'payment_method',
        'bank',
        'bank_account_type'
    ]

    # 3. Iterar sobre cada columna JSON y aplanarla en Pandas
    print("\nIniciando aplanamiento de columnas JSON en Pandas...")
    for col in json_columns:
        print(f"Procesando columna JSON: '{col}'...")
        
        # Funci√≥n para extraer la descripci√≥n de un JSON en Python, manejando errores
        def extract_json_description(json_str):
            if pd.isna(json_str) or not isinstance(json_str, str):
                return 'N/A' # Manejar NaN o tipos no string
            try:
                # Intentar cargar como JSON. Si falla, es inv√°lido.
                # json.loads() es m√°s estricto y √∫til para capturar el error.
                import json
                data = json.loads(json_str)
                # Si es un objeto JSON y tiene 'description', la extraemos
                if isinstance(data, dict) and 'description' in data:
                    return str(data['description'])
                # Si es un objeto pero no tiene 'description', devolvemos 'N/A'
                return 'N/A'
            except json.JSONDecodeError:
                # Si no es un JSON v√°lido o la carga falla, devolver 'N/A'
                print(f"    Advertencia: Valor inv√°lido detectado en '{col}': '{json_str}'. Se reemplazar√° con 'N/A'.")
                return 'N/A'
            except Exception as e:
                # Otros errores inesperados durante el procesamiento del JSON
                print(f"    Advertencia: Error inesperado al procesar '{json_str}' en '{col}': {e}. Se reemplazar√° con 'N/A'.")
                return 'N/A'
        
        # Aplicar la funci√≥n a la columna
        df_employees[col] = df_employees[col].apply(extract_json_description)
        print(f"  Columna '{col}' aplanada a 'description' o 'N/A'.")

    print("\nAplanamiento de JSONs en DataFrame completado.")

    # 4. Volver a guardar el DataFrame limpio en la base de datos
    # ¬°ADVERTENCIA!: 'if_exists='replace'' BORRAR√Å Y RECREAR√Å LA TABLA.
    # Esta es la forma m√°s directa de asegurar que los cambios se reflejen.
    print("Volcando el DataFrame limpio de vuelta a la tabla 'employees' en la base de datos...")
    df_employees.to_sql(name='employees', con=engine, if_exists='replace', index=False)
    print("DataFrame volcado a la base de datos exitosamente.")

    print("\nLimpieza y aplanamiento de JSONs en 'employees' finalizada exitosamente.")

except Exception as e:
    print(f"Ocurri√≥ un error general durante el limpieza de JSONs en 'employees' con Pandas: {e}")
    print("Por favor, revisa la conexi√≥n a la base de datos o los datos en s√≠.")

--- Bloque 6 (Estrategia Definitiva): Limpieza de JSONs en 'employees' con Pandas ---
Engine de base de datos obtenido.
Cargando la tabla 'employees' en un DataFrame de Pandas...
DataFrame de 'employees' cargado. Registros: 38

Iniciando aplanamiento de columnas JSON en Pandas...
Procesando columna JSON: 'identity_document_type'...
  Columna 'identity_document_type' aplanada a 'description' o 'N/A'.
Procesando columna JSON: 'country'...
  Columna 'country' aplanada a 'description' o 'N/A'.
Procesando columna JSON: 'region'...
  Columna 'region' aplanada a 'description' o 'N/A'.
Procesando columna JSON: 'city'...
  Columna 'city' aplanada a 'description' o 'N/A'.
Procesando columna JSON: 'emergency_contact'...
  Columna 'emergency_contact' aplanada a 'description' o 'N/A'.
Procesando columna JSON: 'payment_method'...
  Columna 'payment_method' aplanada a 'description' o 'N/A'.
Procesando columna JSON: 'bank'...
  Columna 'bank' aplanada a 'description' o 'N/A'.
Procesando columna JSON: 'bank_account_type'...
  Columna 'bank_account_type' aplanada a 'description' o 'N/A'.

Aplanamiento de JSONs en DataFrame completado.
Volcando el DataFrame limpio de vuelta a la tabla 'employees' en la base de datos...
Ocurri√≥ un error general durante el limpieza de JSONs en 'employees' con Pandas: 'TABLENAME'
Por favor, revisa la conexi√≥n a la base de datos o los datos en s√≠.

*TABLA 3: employee_contracts o Contrato de empleados*

In [66]:
# Script para obtener la informaci√≥n de las columnas de 'employee_contracts' (RE-REVISADO 2)

# Aseg√∫rate de que get_connection est√© importado desde tu db_connection.py
from db_connection import get_connection

print("\n--- Bloque 7: Exploraci√≥n de la Estructura de 'employee_contracts' ---")

# Reestablecer la conexi√≥n y el cursor
print("Reestableciendo conexi√≥n a la base de datos...")
try:
    # Cerrar si hay alguna conexi√≥n o cursor previo que no se cerr√≥ correctamente
    # SOLO la conexi√≥n tiene is_connected()
    if 'conexion' in globals() and conexion is not None and conexion.is_connected():
        # Primero cierra el cursor si existe y est√° asociado a la conexi√≥n
        if 'cursor' in globals() and cursor is not None:
            try:
                cursor.close()
                del cursor # Eliminar la variable del cursor
            except Exception as e:
                print(f"Advertencia al cerrar cursor previo: {e}")
        conexion.close()
        del conexion # Eliminar la variable de la conexi√≥n
    
    conexion = get_connection()
    cursor = conexion.cursor()
    print("Conexi√≥n y cursor reestablecidos.")
except Exception as e:
    print(f"ERROR: No se pudo reestablecer la conexi√≥n a la base de datos: {e}")
    # Si no podemos conectar, no tiene sentido continuar
    raise

try:
    cursor.execute("DESCRIBE employee_contracts;")
    columnas_employee_contracts = cursor.fetchall()

    print("Columnas de la tabla 'employee_contracts':")
    for columna in columnas_employee_contracts:
        print(f"  - {columna[0]} ({columna[1]})")

except Exception as e:
    print(f"Ocurri√≥ un error al intentar obtener las columnas de 'employee_contracts': {e}")
finally:
    # Cerrar la conexi√≥n y el cursor al finalizar el bloque para limpiar recursos
    # Asegurarse de que las variables existan antes de intentar cerrarlas
    if 'cursor' in locals() and cursor is not None:
        try:
            cursor.close()
        except Exception as e:
            print(f"Advertencia al cerrar cursor en finally: {e}")
    if 'conexion' in locals() and conexion is not None and conexion.is_connected():
        try:
            conexion.close()
        except Exception as e:
            print(f"Advertencia al cerrar conexi√≥n en finally: {e}")
    print("Conexi√≥n cerrada al finalizar el bloque.")

--- Bloque 7: Exploraci√≥n de la Estructura de 'employee_contracts' ---
Reestableciendo conexi√≥n a la base de datos...
‚úÖ Conexi√≥n exitosa a la base de datos
Conexi√≥n y cursor reestablecidos.
Columnas de la tabla 'employee_contracts':
  - id (int unsigned)
  - employee_id (int unsigned)
  - employee_type (varchar(255))
  - employee_subtype (varchar(255))
  - high_penson_risk (tinyint(1))
  - integral_salary (tinyint(1))
  - type (varchar(255))
  - start_date (date)
  - end_date (date)
  - salary (double(16,2))
  - transport_subsidy (tinyint(1))
  - risk_type (varchar(255))
  - holidays_enjoyed (smallint unsigned)
  - health_provider_id (bigint unsigned)
  - health_provider (varchar(255))
  - pension_provider (varchar(255))
  - pension_provider_id (bigint unsigned)
  - severance_provider (varchar(255))
  - severance_provider_id (bigint unsigned)
  - family_compensation_fund_provider (json)
  - family_compensation_fund_provider_id (bigint unsigned)
  - settlement_cause (varchar(255))
  - settlement_with_just_cause (tinyint(1))
  - settlement_probationary_period (tinyint(1))
  - settlement_date (date)
  - settlement_worked_days (smallint unsigned)
  - settlement_severance_base_days (smallint unsigned)
  - settlement_service_bonus_base_days (smallint unsigned)
  - settlement_holidays_to_pay (double(19,16))
  - settlement_salary_base (double(16,2))
  - settlement_holidays_base (double(16,2))
  - settlement_severance_base (double(16,2))
  - settlement_service_bonus_base (double(16,2))
  - settlement_non_salary_income (double(16,2))
  - settlement_loans (double(16,2))
  - settlement_deductions (double(16,2))
  - settlement_holidays (double(16,2))
  - settlement_severance (double(16,2))
  - settlement_severance_interests (double(16,2))
  - settlement_service_bonus (double(16,2))
  - settlement_redundancy_payment (double(16,2))
  - settlement_others (double(16,2))
  - settlement_total (double(16,2))
  - settlement_notes (varchar(500))
  - files (json)
  - status (tinyint(1))
  - user_id (int unsigned)
  - settlement_approval_user_id (int unsigned)
  - settlement_approved_at (timestamp)
  - created_at (timestamp)
  - updated_at (timestamp)
Conexi√≥n cerrada al finalizar el bloque.

*Descripci√≥n de las tablas:* 
id: int unsigned (Identificador √∫nico del contrato)
employee_id: int unsigned (ID del empleado al que pertenece el contrato) - Clave For√°nea a la tabla employees.
employee_type: json (Tipo de empleado, e.g., fijo, temporal) - JSON a aplanar.
employee_subtype: json (Subtipo de empleado, si aplica) - JSON a aplanar.
high_penson_risk: tinyint(1) (Indicador de alto riesgo de pensi√≥n, booleano)
integral_salary: tinyint(1) (Indicador de salario integral, booleano)
type: json (Tipo de contrato, e.g., a t√©rmino indefinido, obra labor) - JSON a aplanar.
start_date: date (Fecha de inicio del contrato)
end_date: date (Fecha de fin del contrato) - ¬°Atenci√≥n! Puede ser nulo para contratos indefinidos o activos.
salary: double(16,2) (Salario del contrato)
transport_subsidy: tinyint(1) (Indicador de subsidio de transporte, booleano)
risk_type: json (Tipo de riesgo laboral) - JSON a aplanar.
holidays_enjoyed: smallint unsigned (D√≠as de vacaciones disfrutados)
health_provider_id: bigint unsigned (ID del proveedor de salud) - Posible clave for√°nea.
health_provider: json (Informaci√≥n del proveedor de salud) - JSON a aplanar.
pension_provider: json (Informaci√≥n del proveedor de pensi√≥n) - JSON a aplanar.
pension_provider_id: bigint unsigned (ID del proveedor de pensi√≥n) - Posible clave for√°nea.
severance_provider: json (Informaci√≥n del proveedor de cesant√≠as) - JSON a aplanar.
severance_provider_id: bigint unsigned (ID del proveedor de cesant√≠as) - Posible clave for√°nea.
settlement_approved_at: timestamp (Fecha de aprobaci√≥n de liquidaci√≥n) - ¬°Atenci√≥n! Probablemente nulo para contratos activos.
created_at: timestamp (Marca de tiempo de creaci√≥n del registro)
updated_at: timestamp (Marca de tiempo de la √∫ltima actualizaci√≥n)

In [67]:
# Script para la verificaci√≥n inicial de datos en 'employee_contracts'

# Aseg√∫rate de que get_connection est√© importado desde tu db_connection.py
from db_connection import get_connection

print("\n--- Bloque 8: Verificaci√≥n Inicial de 'employee_contracts' ---")

# Reestablecer la conexi√≥n y el cursor para este bloque
print("Reestableciendo conexi√≥n a la base de datos...")
try:
    if 'conexion' in globals() and conexion is not None and conexion.is_connected():
        if 'cursor' in globals() and cursor is not None:
            try:
                cursor.close()
                del cursor
            except Exception as e:
                print(f"Advertencia al cerrar cursor previo: {e}")
        conexion.close()
        del conexion
    
    conexion = get_connection()
    cursor = conexion.cursor()
    print("Conexi√≥n y cursor reestablecidos.")
except Exception as e:
    print(f"ERROR: No se pudo reestablecer la conexi√≥n a la base de datos: {e}")
    raise

try:
    # 1. Obtener el n√∫mero total de registros
    cursor.execute("SELECT COUNT(*) FROM employee_contracts;")
    total_registros_contracts = cursor.fetchone()[0]
    print(f"\nTotal de registros en 'employee_contracts': {total_registros_contracts}")

    # 2. Verificar valores nulos por columna
    print("\nValores nulos por columna en 'employee_contracts':")
    # Para esto, usaremos la lista de columnas que acabas de compartir
    # (asumiendo que 'columnas_employee_contracts' est√° disponible o se recrea)
    cursor.execute("DESCRIBE employee_contracts;")
    columnas_employee_contracts = cursor.fetchall()
    
    for columna_info in columnas_employee_contracts:
        nombre_columna = columna_info[0]
        cursor.execute(f"SELECT COUNT(*) FROM employee_contracts WHERE {nombre_columna} IS NULL;")
        nulos_count = cursor.fetchone()[0]
        if nulos_count > 0:
            print(f"  - {nombre_columna}: {nulos_count} nulos")
        else:
            print(f"  - {nombre_columna}: 0 nulos")

    # 3. Verificar filas duplicadas
    cursor.execute("SELECT COUNT(id) - COUNT(DISTINCT id) FROM employee_contracts;")
    duplicados_id_contracts = cursor.fetchone()[0]
    print(f"\nFilas duplicadas basadas en 'id' en 'employee_contracts': {duplicados_id_contracts}")

    # Es posible que un empleado tenga m√∫ltiples contratos a lo largo del tiempo,
    # pero no deber√≠a tener dos contratos con la misma fecha de inicio.
    cursor.execute("""
        SELECT COUNT(*)
        FROM (
            SELECT employee_id, start_date, COUNT(*)
            FROM employee_contracts
            GROUP BY employee_id, start_date
            HAVING COUNT(*) > 1
        ) AS duplicated_contracts;
    """)
    duplicados_employee_date = cursor.fetchone()[0]
    print(f"Contratos duplicados basados en 'employee_id' y 'start_date': {duplicados_employee_date}")

    # 4. Obtener valores √∫nicos para columnas booleanas (tinyint) y una muestra de JSON
    print("\nValores √∫nicos en columnas clave de 'employee_contracts':")

    # Para 'high_penson_risk'
    cursor.execute("SELECT DISTINCT high_penson_risk FROM employee_contracts;")
    high_penson_risk_unicos = [fila[0] for fila in cursor.fetchall()]
    print(f"  - high_penson_risk: {high_penson_risk_unicos}")

    # Para 'integral_salary'
    cursor.execute("SELECT DISTINCT integral_salary FROM employee_contracts;")
    integral_salary_unicos = [fila[0] for fila in cursor.fetchall()]
    print(f"  - integral_salary: {integral_salary_unicos}")

    # Para 'transport_subsidy'
    cursor.execute("SELECT DISTINCT transport_subsidy FROM employee_contracts;")
    transport_subsidy_unicos = [fila[0] for fila in cursor.fetchall()]
    print(f"  - transport_subsidy: {transport_subsidy_unicos}")

    # 5. Muestra de contenido de una columna JSON: 'employee_type' (primeros 5)
    print("\nMuestra de contenido de la columna JSON 'employee_type' (primeros 5):")
    cursor.execute("SELECT employee_type FROM employee_contracts WHERE employee_type IS NOT NULL LIMIT 5;")
    employee_type_sample = [fila[0] for fila in cursor.fetchall()]
    for i, etype in enumerate(employee_type_sample):
        print(f"  - Muestra {i+1}: {etype}")

except Exception as e:
    print(f"Ocurri√≥ un error durante la verificaci√≥n inicial de datos en 'employee_contracts': {e}")
finally:
    # Cerrar la conexi√≥n al finalizar el bloque para limpiar recursos
    if 'cursor' in locals() and cursor is not None:
        try:
            cursor.close()
        except Exception as e:
            print(f"Advertencia al cerrar cursor en finally: {e}")
    if 'conexion' in locals() and conexion is not None and conexion.is_connected():
        try:
            conexion.close()
        except Exception as e:
            print(f"Advertencia al cerrar conexi√≥n en finally: {e}")
    print("Conexi√≥n cerrada al finalizar el bloque.")

--- Bloque 8: Verificaci√≥n Inicial de 'employee_contracts' ---
Reestableciendo conexi√≥n a la base de datos...
‚úÖ Conexi√≥n exitosa a la base de datos
Conexi√≥n y cursor reestablecidos.

Total de registros en 'employee_contracts': 43

Valores nulos por columna en 'employee_contracts':
  - id: 0 nulos
  - employee_id: 0 nulos
  - employee_type: 0 nulos
  - employee_subtype: 0 nulos
  - high_penson_risk: 0 nulos
  - integral_salary: 0 nulos
  - type: 0 nulos
  - start_date: 0 nulos
  - end_date: 32 nulos
  - salary: 0 nulos
  - transport_subsidy: 0 nulos
  - risk_type: 0 nulos
  - holidays_enjoyed: 0 nulos
  - health_provider_id: 5 nulos
  - health_provider: 0 nulos
  - pension_provider: 2 nulos
  - pension_provider_id: 5 nulos
  - severance_provider: 2 nulos
  - severance_provider_id: 5 nulos
  - family_compensation_fund_provider: 0 nulos
  - family_compensation_fund_provider_id: 5 nulos
  - settlement_cause: 30 nulos
  - settlement_with_just_cause: 0 nulos
  - settlement_probationary_period: 0 nulos
  - settlement_date: 30 nulos
  - settlement_worked_days: 30 nulos
  - settlement_severance_base_days: 0 nulos
  - settlement_service_bonus_base_days: 0 nulos
  - settlement_holidays_to_pay: 30 nulos
  - settlement_salary_base: 30 nulos
  - settlement_holidays_base: 30 nulos
  - settlement_severance_base: 30 nulos
  - settlement_service_bonus_base: 30 nulos
  - settlement_non_salary_income: 30 nulos
  - settlement_loans: 30 nulos
  - settlement_deductions: 30 nulos
  - settlement_holidays: 30 nulos
  - settlement_severance: 30 nulos
  - settlement_severance_interests: 30 nulos
  - settlement_service_bonus: 30 nulos
  - settlement_redundancy_payment: 30 nulos
  - settlement_others: 30 nulos
  - settlement_total: 30 nulos
  - settlement_notes: 42 nulos
  - files: 43 nulos
  - status: 0 nulos
  - user_id: 0 nulos
  - settlement_approval_user_id: 30 nulos
  - settlement_approved_at: 30 nulos
  - created_at: 0 nulos
  - updated_at: 0 nulos

Filas duplicadas basadas en 'id' en 'employee_contracts': 0
Contratos duplicados basados en 'employee_id' y 'start_date': 0

Valores √∫nicos en columnas clave de 'employee_contracts':
  - high_penson_risk: [0, 1]
  - integral_salary: [0, 1]
  - transport_subsidy: [0, 1]

Muestra de contenido de la columna JSON 'employee_type' (primeros 5):
  - Muestra 1: {"code": "01", "description": "Dependiente"}
  - Muestra 2: {"code": "01", "description": "Dependiente"}
  - Muestra 3: {"code": "01", "description": "Dependiente"}
  - Muestra 4: {"code": "01", "description": "Dependiente"}
  - Muestra 5: {"code": "01", "description": "Dependiente"}
Conexi√≥n cerrada al finalizar el bloque.

#Resultado an√°lisis y toma de acciones: 
health_provider_id: 5 nulos. Rellenaremos con N/A.
pension_provider: 2 nulos. Rellenaremos con N/A.
pension_provider_id: 2 nulos. Rellenaremos con N/A.
severance_provider: 2 nulos. Rellenaremos con N/A.
severance_provider_id: 2 nulos. Rellenaremos con N/A.
settlement_approved_at: 43 nulos. Esto significa que ning√∫n contrato ha sido liquidado o aprobado para liquidaci√≥n. Es importante mantener esto en cuenta para el an√°lisis futuro (e.g., todos los contratos son activos o no han llegado a su fase de liquidaci√≥n).
Aplanamiento de Columnas JSON
Limpieza y Transformaci√≥n

In [79]:
# Script para limpiar y aplanar 'employee_contracts' directamente
import pandas as pd
import json
import numpy as np # Aseg√∫rate de que numpy est√© importado
from db_connection import get_engine, get_connection 

print("\n--- Bloque 9: Limpieza y Transformaci√≥n de 'employee_contracts' ---")

# --- PASO CR√çTICO: CERRAR Y REABRIR CONEXI√ìN PARA ASEGURAR ESTADO LIMPIO ---
print("Reestableciendo conexi√≥n a la base de datos...")
conexion = None 
cursor = None 
try:
    if 'conexion' in globals() and conexion is not None and conexion.is_connected():
        if 'cursor' in globals() and cursor is not None:
            try:
                cursor.close()
            except Exception as e:
                print(f"Advertencia al cerrar cursor previo: {e}")
        conexion.close()
    
    conexion = get_connection()
    cursor = conexion.cursor()
    print("‚úÖ Conexi√≥n y cursor reestablecidos.")
except Exception as e:
    print(f"‚ùå ERROR: No se pudo reestablecer la conexi√≥n a la base de datos: {e}")
    raise 

try:
    engine = get_engine()
    print("‚úÖ Engine de base de datos obtenido.")

    # --- PASO 1: Cargando la tabla 'employee_contracts' en Pandas y realizando transformaciones ---
    print("\n--- PASO 1: Cargando 'employee_contracts' en Pandas y realizando transformaciones ---")
    df_contracts = pd.read_sql("SELECT * FROM employee_contracts;", engine)
    print(f"DataFrame de contratos cargado desde 'employee_contracts'. Registros: {len(df_contracts)}")

    # 1.1. Manejo de valores nulos y asegurando nombres de columnas v√°lidos
    print("Rellenando valores nulos para columnas espec√≠ficas con 'N/A' y asegurando nombres v√°lidos...")
    cols_to_fill_na = [
        'health_provider_id', 
        'pension_provider',
        'pension_provider_id',
        'severance_provider',
        'severance_provider_id'
    ]
    for col in cols_to_fill_na:
        if col in df_contracts.columns:
            if 'id' not in col:
                df_contracts[col] = df_contracts[col].astype(str).replace('nan', 'N/A').fillna('N/A')
            else:
                df_contracts[col] = df_contracts[col].replace({np.nan: None})
        else:
            print(f"   Advertencia: Columna '{col}' no encontrada en el DataFrame para rellenar nulos.")
    
    df_contracts.columns = [str(col) if pd.notna(col) else f"unnamed_col_{i}" for i, col in enumerate(df_contracts.columns)]
    
    print("‚úÖ Nombres de columnas del DataFrame validados.")
    print("‚úÖ Relleno de nulos completado en DataFrame.")

    # 1.2. Aplanamiento de Columnas JSON
    print("\nIniciando aplanamiento de columnas JSON en Pandas...")
    json_columns = [
        'employee_type',
        'employee_subtype',
        'type',
        'risk_type',
        'health_provider',
        'pension_provider',
        'severance_provider',
        # 'family_compensation_fund_provider' <-- Sigue excluida como acordamos
    ]

    def extract_json_description_or_code(json_str):
        if pd.isna(json_str) or not isinstance(json_str, str) or not json_str.strip().startswith('{'):
            return None 
        try:
            data = json.loads(json_str)
            if isinstance(data, dict):
                if 'description' in data:
                    return str(data['description'])
                elif 'code' in data: 
                    return str(data['code'])
            return None 
        except json.JSONDecodeError:
            return None 
        except Exception as e:
            print(f"   Error inesperado al procesar JSON: {e} en '{str(json_str)[:50]}'")
            return None

    for col in json_columns:
        if col in df_contracts.columns:
            df_contracts[col] = df_contracts[col].astype(str)
            df_contracts[col] = df_contracts[col].apply(extract_json_description_or_code)
            print(f"   Columna '{col}' aplanada a 'description'/'code' o NULL.")
        else:
            print(f"   Advertencia: Columna '{col}' no encontrada en el DataFrame para aplanar JSON.")
    print("‚úÖ Aplanamiento de JSONs en DataFrame completado.")
    
    # --- PASO 2: ELIMINADO - NO SE ALTERA LA ESTRUCTURA DE LA BASE DE DATOS ---

    # --- PASO 3: Actualizar los registros con los datos limpios del DataFrame ---
    print("\n--- PASO 3: Actualizando registros en 'employee_contracts' con datos limpios ---")
    
    cursor.execute("DESCRIBE `employee_contracts`;")
    db_columns_info = cursor.fetchall()
    db_column_names = [col_info[0] for col_info in db_columns_info]

    valid_columns_for_update = [
        col for col in df_contracts.columns
        if isinstance(col, str) and col != 'id' and col in db_column_names
    ]
    
    print(f"\nDEBUG: Columnas en el DataFrame: {df_contracts.columns.tolist()}")
    print(f"DEBUG: Columnas en la Base de Datos: {db_column_names}")
    print(f"DEBUG: Columnas que se usar√°n para UPDATE: {valid_columns_for_update}")

    if not valid_columns_for_update:
        print("‚ö†Ô∏è Advertencia: No hay columnas v√°lidas para actualizar (aparte del 'id'). No se realizar√° ninguna actualizaci√≥n.")
    else:
        set_clauses = [f"`{col}` = %s" for col in valid_columns_for_update]
        update_sql = f"UPDATE `employee_contracts` SET {', '.join(set_clauses)} WHERE `id` = %s;"
        
        print(f"DEBUG: SQL de UPDATE generado: {update_sql[:150]}...")

        updated_count = 0
        for index, row in df_contracts.iterrows():
            update_values = []
            for col in valid_columns_for_update:
                val = row[col]
                # Conversi√≥n final de valores de Pandas/NumPy a tipos compatibles con MySQL
                # Corregido: Reemplazar np.float_ con np.float64 para compatibilidad con NumPy 2.0+
                if pd.isna(val) or (isinstance(val, (float, np.float64)) and np.isnan(val)):
                    update_values.append(None) 
                elif isinstance(val, (np.int64, np.int32)):
                    update_values.append(int(val)) 
                elif isinstance(val, (np.bool_)):
                    update_values.append(bool(val)) 
                else:
                    update_values.append(val)
                    
            update_values.append(row['id']) 
            
            try:
                cursor.execute(update_sql, tuple(update_values))
                updated_count += 1
                if updated_count % 10 == 0:
                    print(f"   Progreso: {updated_count}/{len(df_contracts)} registros procesados...")
            except Exception as e:
                print(f"‚ùå Error al actualizar el registro con ID {row['id']}: {e}")
                print(f"   Valores que intentaron insertarse para ID {row['id']}: {tuple(update_values)}")
                conexion.rollback()
                raise 

        conexion.commit() 
        print(f"‚úÖ Actualizaci√≥n de {updated_count} registros en la tabla 'employee_contracts' completada exitosamente.")
    
    print("\n‚úÖ Limpieza y transformaci√≥n de 'employee_contracts' finalizada exitosamente.")

except Exception as e:
    print(f"‚ùå Ocurri√≥ un error general durante la limpieza de 'employee_contracts': {e}")
    try:
        if 'conexion' in locals() and conexion is not None and conexion.is_connected():
            conexion.rollback()
            print("Transacci√≥n revertida debido a un error.")
    except Exception as rollback_e:
        print(f"‚ùå Error adicional al intentar revertir: {rollback_e}")
    
finally:
    print("Cerrando la conexi√≥n despu√©s del procesamiento.")
    try:
        if 'cursor' in locals() and cursor is not None:
            cursor.close()
        if 'conexion' in locals() and conexion is not None and conexion.is_connected():
            conexion.close()
        print("‚úÖ Conexi√≥n cerrada exitosamente.")
    except Exception as e:
        print(f"‚ùå Advertencia al cerrar la conexi√≥n en finally: {e}")

--- Bloque 9: Limpieza y Transformaci√≥n de 'employee_contracts' ---
Reestableciendo conexi√≥n a la base de datos...
‚úÖ Conexi√≥n exitosa a la base de datos
‚úÖ Conexi√≥n y cursor reestablecidos.
‚úÖ Engine de base de datos obtenido.

--- PASO 1: Cargando 'employee_contracts' en Pandas y realizando transformaciones ---
DataFrame de contratos cargado desde 'employee_contracts'. Registros: 43
Rellenando valores nulos para columnas espec√≠ficas con 'N/A' y asegurando nombres v√°lidos...
‚úÖ Nombres de columnas del DataFrame validados.
‚úÖ Relleno de nulos completado en DataFrame.

Iniciando aplanamiento de columnas JSON en Pandas...
   Columna 'employee_type' aplanada a 'description'/'code' o NULL.
   Columna 'employee_subtype' aplanada a 'description'/'code' o NULL.
   Columna 'type' aplanada a 'description'/'code' o NULL.
   Columna 'risk_type' aplanada a 'description'/'code' o NULL.
   Columna 'health_provider' aplanada a 'description'/'code' o NULL.
   Columna 'pension_provider' aplanada a 'description'/'code' o NULL.
   Columna 'severance_provider' aplanada a 'description'/'code' o NULL.
‚úÖ Aplanamiento de JSONs en DataFrame completado.

--- PASO 3: Actualizando registros en 'employee_contracts' con datos limpios ---

DEBUG: Columnas en el DataFrame: ['id', 'employee_id', 'employee_type', 'employee_subtype', 'high_penson_risk', 'integral_salary', 'type', 'start_date', 'end_date', 'salary', 'transport_subsidy', 'risk_type', 'holidays_enjoyed', 'health_provider_id', 'health_provider', 'pension_provider', 'pension_provider_id', 'severance_provider', 'severance_provider_id', 'family_compensation_fund_provider', 'family_compensation_fund_provider_id', 'settlement_cause', 'settlement_with_just_cause', 'settlement_probationary_period', 'settlement_date', 'settlement_worked_days', 'settlement_severance_base_days', 'settlement_service_bonus_base_days', 'settlement_holidays_to_pay', 'settlement_salary_base', 'settlement_holidays_base', 'settlement_severance_base', 'settlement_service_bonus_base', 'settlement_non_salary_income', 'settlement_loans', 'settlement_deductions', 'settlement_holidays', 'settlement_severance', 'settlement_severance_interests', 'settlement_service_bonus', 'settlement_redundancy_payment', 'settlement_others', 'settlement_total', 'settlement_notes', 'files', 'status', 'user_id', 'settlement_approval_user_id', 'settlement_approved_at', 'created_at', 'updated_at']
DEBUG: Columnas en la Base de Datos: ['id', 'employee_id', 'employee_type', 'employee_subtype', 'high_penson_risk', 'integral_salary', 'type', 'start_date', 'end_date', 'salary', 'transport_subsidy', 'risk_type', 'holidays_enjoyed', 'health_provider_id', 'health_provider', 'pension_provider', 'pension_provider_id', 'severance_provider', 'severance_provider_id', 'family_compensation_fund_provider', 'family_compensation_fund_provider_id', 'settlement_cause', 'settlement_with_just_cause', 'settlement_probationary_period', 'settlement_date', 'settlement_worked_days', 'settlement_severance_base_days', 'settlement_service_bonus_base_days', 'settlement_holidays_to_pay', 'settlement_salary_base', 'settlement_holidays_base', 'settlement_severance_base', 'settlement_service_bonus_base', 'settlement_non_salary_income', 'settlement_loans', 'settlement_deductions', 'settlement_holidays', 'settlement_severance', 'settlement_severance_interests', 'settlement_service_bonus', 'settlement_redundancy_payment', 'settlement_others', 'settlement_total', 'settlement_notes', 'files', 'status', 'user_id', 'settlement_approval_user_id', 'settlement_approved_at', 'created_at', 'updated_at']
DEBUG: Columnas que se usar√°n para UPDATE: ['employee_id', 'employee_type', 'employee_subtype', 'high_penson_risk', 'integral_salary', 'type', 'start_date', 'end_date', 'salary', 'transport_subsidy', 'risk_type', 'holidays_enjoyed', 'health_provider_id', 'health_provider', 'pension_provider', 'pension_provider_id', 'severance_provider', 'severance_provider_id', 'family_compensation_fund_provider', 'family_compensation_fund_provider_id', 'settlement_cause', 'settlement_with_just_cause', 'settlement_probationary_period', 'settlement_date', 'settlement_worked_days', 'settlement_severance_base_days', 'settlement_service_bonus_base_days', 'settlement_holidays_to_pay', 'settlement_salary_base', 'settlement_holidays_base', 'settlement_severance_base', 'settlement_service_bonus_base', 'settlement_non_salary_income', 'settlement_loans', 'settlement_deductions', 'settlement_holidays', 'settlement_severance', 'settlement_severance_interests', 'settlement_service_bonus', 'settlement_redundancy_payment', 'settlement_others', 'settlement_total', 'settlement_notes', 'files', 'status', 'user_id', 'settlement_approval_user_id', 'settlement_approved_at', 'created_at', 'updated_at']
DEBUG: SQL de UPDATE generado: UPDATE `employee_contracts` SET `employee_id` = %s, `employee_type` = %s, `employee_subtype` = %s, `high_penson_risk` = %s, `integral_salary` = %s, `t...
   Progreso: 10/43 registros procesados...
   Progreso: 20/43 registros procesados...
   Progreso: 30/43 registros procesados...
   Progreso: 40/43 registros procesados...
‚úÖ Actualizaci√≥n de 43 registros en la tabla 'employee_contracts' completada exitosamente.

‚úÖ Limpieza y transformaci√≥n de 'employee_contracts' finalizada exitosamente.
Cerrando la conexi√≥n despu√©s del procesamiento.
‚úÖ Conexi√≥n cerrada exitosamente.

In [ ]:
# Cerrar conexi√≥n
cursor.close()
conexion.close()