In [48]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np # Para np.nan
import os # Importar el módulo os para manejar rutas de archivos

In [49]:
from db_connection import get_connection
from db_connection import get_engine

Tabla accounting_account_balances

In [30]:
# 1. Reconectar (o asegurar que la conexión esté activa)
try:
    conexion = get_connection() # Obtener una nueva conexión o reutilizar si get_connection maneja eso
    cursor = conexion.cursor()

    # 2. Ejecutar la consulta para describir la tabla
    cursor.execute("DESCRIBE accounting_account_balances;")
    columns_info = cursor.fetchall()

    print("Columnas de la tabla 'accounting_account_balances':")
    for column in columns_info:
        print(f"  - {column[0]} ({column[1]})")

except Exception as e:
    print(f"Ocurrió un error: {e}")

✅ Conexión exitosa a la base de datos
Columnas de la tabla 'accounting_account_balances':
  - id (bigint unsigned)
  - code (double(16,15))
  - accounting_id (bigint unsigned)
  - name (varchar(255))
  - initial_balance (double(18,6))
  - final_balance (double(18,6))
  - debit_movement (double(18,6))
  - credit_movement (double(18,6))
  - third_party_type_id (varchar(50))
  - third_party_id (bigint unsigned)
  - currency_id (varchar(255))
  - year (int)
  - month (int)
  - created_at (timestamp)
  - updated_at (timestamp)

Eliminación de columna que no aportan información relevante (created_at, update_at)
También se eliminan las constantes tales como (currency_id )

In [47]:
# --- Paso 1: Conectarse a la base de datos y cargar la tabla 'accounting_account_balances' ---
print("Conectando a la base de datos y cargando la tabla 'accounting_account_balances'...")
try:
    engine = get_engine()
    df_account_balances = pd.read_sql('SELECT * FROM accounting_account_balances', engine)
    print(f"Tabla 'accounting_account_balances' cargada exitosamente. Filas: {df_account_balances.shape[0]}, Columnas: {df_account_balances.shape[1]}")
except Exception as e:
    print(f"Error al cargar la tabla 'accounting_account_balances': {e}")
    raise # Relanzar la excepción para detener la ejecución si falla la carga.

# --- Paso 2: Definir y eliminar las columnas ---
print("\nEliminando columnas 'created_at', 'updated_at', y 'currency_id'...")

columns_to_drop = ['created_at', 'updated_at', 'currency_id']

# Usamos .drop() para eliminar las columnas.
# `axis=1` indica que estamos eliminando columnas (no filas).
# `inplace=True` modificaría el DataFrame original directamente.
# Si quieres crear un nuevo DataFrame y mantener el original, omite `inplace=True`
# y asigna el resultado a una nueva variable, por ejemplo:
# df_account_balances_cleaned = df_account_balances.drop(columns=columns_to_drop, axis=1)

# Para este ejemplo, modificaremos el DataFrame original para que sigas trabajando con él
df_account_balances.drop(columns=columns_to_drop, inplace=True)

print(f"Columnas {columns_to_drop} eliminadas exitosamente.")

# --- Paso 3: Verificar las columnas restantes ---
print(f"\nColumnas restantes en el DataFrame 'accounting_account_balances':")
print(df_account_balances.columns.tolist())

# --- Paso 4: Mostrar las primeras filas del DataFrame modificado ---
print("\nPrimeras 5 filas del DataFrame 'accounting_account_balances' después de la eliminación:")
print(df_account_balances.head())

print("\nProceso de eliminación de columnas completado.")

Conectando a la base de datos y cargando la tabla 'accounting_account_balances'...
Tabla 'accounting_account_balances' cargada exitosamente. Filas: 4499, Columnas: 15

Eliminando columnas 'created_at', 'updated_at', y 'currency_id'...
Columnas ['created_at', 'updated_at', 'currency_id'] eliminadas exitosamente.

Columnas restantes en el DataFrame 'accounting_account_balances':
['id', 'code', 'accounting_id', 'name', 'initial_balance', 'final_balance', 'debit_movement', 'credit_movement', 'third_party_type_id', 'third_party_id', 'year', 'month']

Primeras 5 filas del DataFrame 'accounting_account_balances' después de la eliminación:
   id  code  accounting_id    name  initial_balance  final_balance  \
0   1   1.0              1  Activo              0.0  -4.500000e+04
1   2   1.0              1  Activo              0.0   3.550000e+06
2   3   1.0              1  Activo              0.0   0.000000e+00
3   4   1.0              1  Activo              0.0   3.730769e+03
4   5   1.0              1  Activo              0.0   2.781800e+04

   debit_movement  credit_movement third_party_type_id  third_party_id  year  \
0       3525000.0     3.570000e+06             Contact               1  2024
1       3570000.0     2.000000e+04             Contact               1  2024
2         59500.0     5.950000e+04             Contact              13  2024
3         59500.0     5.576923e+04             Contact              13  2024
4        149940.0     1.221220e+05             Contact              34  2024

   month
0      2
1      2
2      2
3      2
4      2

Proceso de eliminación de columnas completado.

Conversión de la tabla a formato csv

In [51]:
"""# --- Paso 1: Recargar la tabla 'accounting_account_balances' y aplicar las transformaciones ---
# Es CRUCIAL que el DataFrame refleje las últimas operaciones (ej. eliminación de columnas)
# Si tu script anterior ya dejó 'df_account_balances' en el estado deseado, puedes omitir esta recarga y transformación.
# Sin embargo, para asegurar la reproducibilidad y que el CSV contenga el DataFrame limpio,
# es buena práctica recargar y aplicar las transformaciones si este es un script independiente.

print("Preparando el DataFrame 'accounting_account_balances' para exportación...")
try:
    engine = get_engine()
    df_account_balances = pd.read_sql('SELECT * FROM accounting_account_balances', engine)
    
    # Aplicar las eliminaciones de columnas que definimos previamente
    columns_to_drop = ['created_at', 'updated_at', 'currency_id']
    # Filtrar solo las columnas que realmente existen en el DataFrame para evitar errores si ya fueron eliminadas
    existing_columns_to_drop = [col for col in columns_to_drop if col in df_account_balances.columns]
    
    if existing_columns_to_drop:
        df_account_balances.drop(columns=existing_columns_to_drop, inplace=True)
        print(f"Columnas {existing_columns_to_drop} eliminadas antes de exportar.")
    else:
        print("Las columnas a eliminar ('created_at', 'updated_at', 'currency_id') no se encontraron o ya fueron eliminadas.")

    print(f"DataFrame 'accounting_account_balances' listo para exportación. Filas: {df_account_balances.shape[0]}, Columnas: {df_account_balances.shape[1]}")

except Exception as e:
    print(f"Error al preparar el DataFrame 'accounting_account_balances': {e}")
    raise # Relanzar la excepción para detener la ejecución si falla.

# --- Paso 2: Definir la ruta y el nombre del archivo CSV ---
# Puedes ajustar la ruta donde quieres guardar el archivo.
# 'os.getcwd()' te da el directorio de trabajo actual donde se está ejecutando el script.
output_directory = os.getcwd() # Guarda en el mismo directorio del script
csv_filename = 'accounting_account_balances_cleaned.csv'
output_filepath = os.path.join(output_directory, csv_filename)

# --- Paso 3: Exportar el DataFrame a un archivo CSV ---
print(f"\nExportando el DataFrame a CSV: '{output_filepath}'...")
try:
    df_account_balances.to_csv(output_filepath, index=False, encoding='utf-8')
    print("¡DataFrame exportado a CSV exitosamente!")
    print(f"Puedes encontrar el archivo en: {output_filepath}")
except Exception as e:
    print(f"Error al exportar el DataFrame a CSV: {e}")

print("\nProceso de exportación a CSV completado.")"""

'# --- Paso 1: Recargar la tabla \'accounting_account_balances\' y aplicar las transformaciones ---\n# Es CRUCIAL que el DataFrame refleje las últimas operaciones (ej. eliminación de columnas)\n# Si tu script anterior ya dejó \'df_account_balances\' en el estado deseado, puedes omitir esta recarga y transformación.\n# Sin embargo, para asegurar la reproducibilidad y que el CSV contenga el DataFrame limpio,\n# es buena práctica recargar y aplicar las transformaciones si este es un script independiente.\n\nprint("Preparando el DataFrame \'accounting_account_balances\' para exportación...")\ntry:\n    engine = get_engine()\n    df_account_balances = pd.read_sql(\'SELECT * FROM accounting_account_balances\', engine)\n\n    # Aplicar las eliminaciones de columnas que definimos previamente\n    columns_to_drop = [\'created_at\', \'updated_at\', \'currency_id\']\n    # Filtrar solo las columnas que realmente existen en el DataFrame para evitar errores si ya fueron eliminadas\n    existing_columns_to_drop = [col for col in columns_to_drop if col in df_account_balances.columns]\n\n    if existing_columns_to_drop:\n        df_account_balances.drop(columns=existing_columns_to_drop, inplace=True)\n        print(f"Columnas {existing_columns_to_drop} eliminadas antes de exportar.")\n    else:\n        print("Las columnas a eliminar (\'created_at\', \'updated_at\', \'currency_id\') no se encontraron o ya fueron eliminadas.")\n\n    print(f"DataFrame \'accounting_account_balances\' listo para exportación. Filas: {df_account_balances.shape[0]}, Columnas: {df_account_balances.shape[1]}")\n\nexcept Exception as e:\n    print(f"Error al preparar el DataFrame \'accounting_account_balances\': {e}")\n    raise # Relanzar la excepción para detener la ejecución si falla.\n\n# --- Paso 2: Definir la ruta y el nombre del archivo CSV ---\n# Puedes ajustar la ruta donde quieres guardar el archivo.\n# \'os.getcwd()\' te da el directorio de trabajo actual donde se está ejecutando el script.\noutput_directory = os.getcwd() # Guarda en el mismo directorio del script\ncsv_filename = \'accounting_account_balances_cleaned.csv\'\noutput_filepath = os.path.join(output_directory, csv_filename)\n\n# --- Paso 3: Exportar el DataFrame a un archivo CSV ---\nprint(f"\nExportando el DataFrame a CSV: \'{output_filepath}\'...")\ntry:\n    df_account_balances.to_csv(output_filepath, index=False, encoding=\'utf-8\')\n    print("¡DataFrame exportado a CSV exitosamente!")\n    print(f"Puedes encontrar el archivo en: {output_filepath}")\nexcept Exception as e:\n    print(f"Error al exportar el DataFrame a CSV: {e}")\n\nprint("\nProceso de exportación a CSV completado.")'

Tabla accounting_accounts

In [31]:
# 1. Reconectar (o asegurar que la conexión esté activa)
try:
    conexion = get_connection()
    cursor = conexion.cursor()

    # 2. Ejecutar la consulta para describir la tabla
    cursor.execute("DESCRIBE accounting_accounts;")
    columns_info = cursor.fetchall()

    print("Columnas de la tabla 'accounting_accounts':")
    for column in columns_info:
        print(f"  - {column[0]} ({column[1]})")

except Exception as e:
    print(f"Ocurrió un error: {e}")

✅ Conexión exitosa a la base de datos
Columnas de la tabla 'accounting_accounts':
  - id (bigint unsigned)
  - name (varchar(250))
  - is_class (tinyint(1))
  - is_group (tinyint(1))
  - is_account (tinyint(1))
  - is_subaccount (tinyint(1))
  - is_auxiliary (tinyint(1))
  - is_subauxiliary (tinyint(1))
  - niif (tinyint(1))
  - cash_flow (tinyint(1))
  - exogenous (tinyint(1))
  - base_value (tinyint(1))
  - nature (varchar(1))
  - term (tinyint(1))
  - favorite (tinyint(1))
  - status (tinyint(1))
  - created_at (timestamp)
  - updated_at (timestamp)

Detección de Columnas Constantes

In [53]:
# --- Paso 1: Conectarse a la base de datos y cargar la tabla 'accounting_accounts' ---
print("Conectando a la base de datos y cargando la tabla 'accounting_accounts'...")
try:
    engine = get_engine()
    df_accounting_accounts = pd.read_sql('SELECT * FROM accounting_accounts', engine)
    print(f"Tabla 'accounting_accounts' cargada exitosamente. Filas: {df_accounting_accounts.shape[0]}, Columnas: {df_accounting_accounts.shape[1]}")
except Exception as e:
    print(f"Error al cargar la tabla 'accounting_accounts': {e}")
    raise # Relanzar la excepción para detener la ejecución si falla la carga.

# --- Paso 2: Identificar columnas con valores constantes ---
print("\nIdentificando columnas con valores constantes en 'accounting_accounts'...")

constant_columns = []
for col in df_accounting_accounts.columns:
    # `nunique()` cuenta el número de valores únicos en una columna.
    # Si es 1, significa que todos los valores son el mismo (constante).
    if df_accounting_accounts[col].nunique() == 1:
        constant_columns.append(col)

if constant_columns:
    print(f"\nColumnas con valores constantes identificadas en 'accounting_accounts':")
    for col in constant_columns:
        print(f"  - '{col}': Valor único = {df_accounting_accounts[col].iloc[0]}") # Muestra el valor constante
else:
    print("No se encontraron columnas con valores constantes en la tabla 'accounting_accounts'.")

print("\nProceso de identificación de columnas constantes completado para 'accounting_accounts'.")

# --- Opcional: Mostrar las primeras filas del DataFrame para referencia ---
print("\nPrimeras 5 filas del DataFrame 'accounting_accounts':")
print(df_accounting_accounts.head())

Conectando a la base de datos y cargando la tabla 'accounting_accounts'...
Tabla 'accounting_accounts' cargada exitosamente. Filas: 2125, Columnas: 18

Identificando columnas con valores constantes en 'accounting_accounts'...

Columnas con valores constantes identificadas en 'accounting_accounts':
  - 'is_subauxiliary': Valor único = 0
  - 'cash_flow': Valor único = 0
  - 'exogenous': Valor único = 0
  - 'base_value': Valor único = 0
  - 'term': Valor único = 0
  - 'favorite': Valor único = 0
  - 'status': Valor único = 1

Proceso de identificación de columnas constantes completado para 'accounting_accounts'.

Primeras 5 filas del DataFrame 'accounting_accounts':
   id        name  is_class  is_group  is_account  is_subaccount  \
0   1      Activo         1         0           0              0
1   2     Pasivos         1         0           0              0
2   3  Patrimonio         1         0           0              0
3   4    Ingresos         1         0           0              0
4   5      Gastos         1         0           0              0

   is_auxiliary  is_subauxiliary  niif  cash_flow  exogenous  base_value  \
0             0                0     1          0          0           0
1             0                0     1          0          0           0
2             0                0     1          0          0           0
3             0                0     1          0          0           0
4             0                0     1          0          0           0

  nature  term  favorite  status          created_at          updated_at
0      D     0         0       1 2024-03-27 12:07:39 2024-03-27 12:07:39
1      C     0         0       1 2024-03-27 12:07:39 2024-03-27 12:07:39
2      C     0         0       1 2024-03-27 12:07:39 2024-03-27 12:07:39
3      C     0         0       1 2024-03-27 12:07:39 2024-03-27 12:07:39
4      D     0         0       1 2024-03-27 12:07:39 2024-03-27 12:07:39

Eliminación de Columna Constante

In [ ]:
"""
# --- Paso 1: Conectarse a la base de datos y cargar la tabla 'accounting_accounts' ---
print("Conectando a la base de datos y cargando la tabla 'accounting_accounts'...")
try:
    engine = get_engine()
    df_accounting_accounts = pd.read_sql('SELECT * FROM accounting_accounts', engine)
    print(f"Tabla 'accounting_accounts' cargada exitosamente. Filas: {df_accounting_accounts.shape[0]}, Columnas: {df_accounting_accounts.shape[1]}")
except Exception as e:
    print(f"Error al cargar la tabla 'accounting_accounts': {e}")
    raise # Relanzar la excepción para detener la ejecución si falla la carga.

# --- Paso 2: Definir y eliminar las columnas constantes ---
print("\nEliminando columnas constantes de 'accounting_accounts'...")

# Lista de columnas identificadas como constantes
columns_to_drop_constant = [
    'is_subauxiliary',
    'cash_flow',
    'exogenous',
    'base_value',
    'term',
    'favorite',
    'status'
]

# Es buena práctica verificar que las columnas existen antes de intentar eliminarlas
existing_columns_to_drop = [col for col in columns_to_drop_constant if col in df_accounting_accounts.columns]

if existing_columns_to_drop:
    df_accounting_accounts.drop(columns=existing_columns_to_drop, inplace=True)
    print(f"Columnas {existing_columns_to_drop} eliminadas exitosamente.")
else:
    print("Ninguna de las columnas constantes a eliminar se encontró en el DataFrame o ya fueron eliminadas.")

# --- Paso 3: Verificar las columnas restantes ---
print(f"\nColumnas restantes en el DataFrame 'accounting_accounts':")
print(df_accounting_accounts.columns.tolist())

# --- Paso 4: Mostrar las primeras filas del DataFrame modificado ---
print("\nPrimeras 5 filas del DataFrame 'accounting_accounts' después de la eliminación:")
print(df_accounting_accounts.head())

print("\nProceso de eliminación de columnas constantes completado para 'accounting_accounts'.") """

Tabla accounting_movements

In [32]:

# 1. Reconectar (o asegurar que la conexión esté activa)
try:
    conexion = get_connection()
    cursor = conexion.cursor()

    # 2. Ejecutar la consulta para describir la tabla
    cursor.execute("DESCRIBE accounting_movements;")
    columns_info = cursor.fetchall()

    print("Columnas de la tabla 'accounting_movements':")
    for column in columns_info:
        print(f"  - {column[0]} ({column[1]})")

except Exception as e:
    print(f"Ocurrió un error: {e}")

✅ Conexión exitosa a la base de datos
Columnas de la tabla 'accounting_movements':
  - id (bigint unsigned)
  - class_id (bigint unsigned)
  - group_id (bigint unsigned)
  - account_id (bigint unsigned)
  - subaccount_id (bigint unsigned)
  - accounting_movement (bigint)
  - currency_id (varchar(255))
  - name (varchar(255))
  - date (timestamp)
  - debit_movement (double(18,6))
  - credit_movement (double(18,6))
  - third_party_type_id (varchar(50))
  - third_party_id (int unsigned)
  - document_type_id (smallint)
  - document (varchar(255))
  - document_id (bigint unsigned)
  - item_type (varchar(255))
  - item_id (int unsigned)
  - references_document_id (bigint unsigned)
  - payroll_employee_reference_id (int unsigned)
  - created_at (timestamp)
  - updated_at (timestamp)

#Se identifica que hay datos faltantes en las columnas: o	references_document_id: 6019 nulos (85.74%)
o	item_id: 5511 nulos (78.50%)
o	item_type: 5511 nulos (78.50%)
o	document: 4510 nulos (64.25%)
o	payroll_employee_reference_id: 2510 nulos (35.75%)

-> Se identifica que las columnas item_type, item_id y references_document_id refieren a lo mismo, por lo cual, solo se llenaba una de las 3, siendo necesario combinar toda la información en una nueva columna

In [33]:
# --- Paso 1: Conectarse a la base de datos y cargar la tabla 'accounting_movements' ---
# *** IMPORTANTE: Si ya ejecutaste el código anterior, asegúrate de recargar el DataFrame ***
print("Conectando a la base de datos y cargando la tabla 'accounting_movements'...")
try:
    engine = get_engine()
    df_accounting_movements = pd.read_sql('SELECT * FROM accounting_movements', engine)
    print(f"Tabla 'accounting_movements' cargada exitosamente. Filas: {df_accounting_movements.shape[0]}, Columnas: {df_accounting_movements.shape[1]}")
except Exception as e:
    print(f"Error al cargar la tabla 'accounting_movements': {e}")
    raise # Relanzar la excepción para detener la ejecución si falla la carga.

# --- Paso 2: Crear las nuevas columnas combinadas ---
print("\nCombinando columnas 'item_id', 'references_document_id', y 'payroll_employee_reference_id'...")

# Inicializar las nuevas columnas con valores nulos
df_accounting_movements['primary_reference_type'] = np.nan
df_accounting_movements['primary_reference_id'] = np.nan

# Lógica de combinación con prioridad:
# 1. payroll_employee_reference_id (más específico)
# 2. references_document_id
# 3. item_id

# Condición 1: Cuando payroll_employee_reference_id tiene un valor
cond_payroll = df_accounting_movements['payroll_employee_reference_id'].notna()
df_accounting_movements.loc[cond_payroll, 'primary_reference_type'] = 'Payroll Employee'
df_accounting_movements.loc[cond_payroll, 'primary_reference_id'] = df_accounting_movements['payroll_employee_reference_id']

# Condición 2: Cuando payroll_employee_reference_id es nulo, pero references_document_id no lo es
cond_doc = (~cond_payroll) & (df_accounting_movements['references_document_id'].notna())
df_accounting_movements.loc[cond_doc, 'primary_reference_type'] = 'Document'
df_accounting_movements.loc[cond_doc, 'primary_reference_id'] = df_accounting_movements['references_document_id']

# Condición 3: Cuando payroll_employee_reference_id y references_document_id son nulos, pero item_id no lo es
cond_item = (~cond_payroll) & (~cond_doc) & (df_accounting_movements['item_id'].notna())
df_accounting_movements.loc[cond_item, 'primary_reference_type'] = 'Item'
df_accounting_movements.loc[cond_item, 'primary_reference_id'] = df_accounting_movements['item_id']

# Para los casos donde ninguna de las referencias se llenó, primary_reference_type e _id quedarán como NaN.
# Rellenar 'primary_reference_type' con 'N/A' para mayor claridad
df_accounting_movements['primary_reference_type'] = df_accounting_movements['primary_reference_type'].fillna('N/A')

print("Columnas combinadas 'primary_reference_type' y 'primary_reference_id' creadas.")

# --- Paso 3: Opcional - Eliminar las columnas originales si ya no son necesarias ---
# Asegúrate de que las columnas 'item_type' y 'document' (de las que hablamos en la revisión anterior)
# también se incluyan aquí si no las necesitas más, ya que también tenían muchos nulos.
# Aquí solo estoy eliminando las que pediste combinar.
columns_to_drop = ['item_id', 'references_document_id', 'payroll_employee_reference_id']
# Si también quieres eliminar 'item_type' y 'document' (de la discusión previa), descomenta la línea de abajo:
# columns_to_drop.extend(['item_type', 'document'])

df_accounting_movements_cleaned = df_accounting_movements.drop(columns=columns_to_drop)
print(f"Columnas originales {columns_to_drop} eliminadas.")

# --- Paso 4: Mostrar las primeras filas con las nuevas columnas ---
print("\nPrimeras 5 filas del DataFrame con las nuevas columnas de referencia:")
print(df_accounting_movements_cleaned[['primary_reference_type', 'primary_reference_id']].head())

# --- Paso 5: Verificar el conteo de nulos para las nuevas columnas ---
print("\nConteo de nulos para las nuevas columnas de referencia:")
print(df_accounting_movements_cleaned[['primary_reference_type', 'primary_reference_id']].isnull().sum())

print("\nProceso de combinación de referencias completado.")

Conectando a la base de datos y cargando la tabla 'accounting_movements'...
Tabla 'accounting_movements' cargada exitosamente. Filas: 7020, Columnas: 22

Combinando columnas 'item_id', 'references_document_id', y 'payroll_employee_reference_id'...
Columnas combinadas 'primary_reference_type' y 'primary_reference_id' creadas.
Columnas originales ['item_id', 'references_document_id', 'payroll_employee_reference_id'] eliminadas.

Primeras 5 filas del DataFrame con las nuevas columnas de referencia:
  primary_reference_type  primary_reference_id
0                   Item                 394.0
1                   Item                 394.0
2                   Item                 394.0
3                   Item                 394.0
4                   Item                 394.0

Conteo de nulos para las nuevas columnas de referencia:
primary_reference_type    0
primary_reference_id      0
dtype: int64

Proceso de combinación de referencias completado.

C:\Users\DUVAN\AppData\Local\Temp\ipykernel_14852\1707058357.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Payroll Employee' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_accounting_movements.loc[cond_payroll, 'primary_reference_type'] = 'Payroll Employee'

In [34]:
# Asegúrate de que get_engine() está definida en db_connection.py
from db_connection import get_engine

# --- Paso 1: Conectarse a la base de datos y cargar la tabla 'accounting_movements' ---
# *** IMPORTANTE: Si ya ejecutaste el código anterior, asegúrate de recargar el DataFrame ***
print("Conectando a la base de datos y cargando la tabla 'accounting_movements'...")
try:
    engine = get_engine()
    df_accounting_movements = pd.read_sql('SELECT * FROM accounting_movements', engine)
    print(f"Tabla 'accounting_movements' cargada exitosamente. Filas: {df_accounting_movements.shape[0]}, Columnas: {df_accounting_movements.shape[1]}")
except Exception as e:
    print(f"Error al cargar la tabla 'accounting_movements': {e}")
    raise # Relanzar la excepción para detener la ejecución si falla la carga.

# --- Paso 2: Crear las nuevas columnas combinadas ---
print("\nCombinando columnas 'item_id', 'references_document_id', y 'payroll_employee_reference_id'...")

# Inicializar las nuevas columnas con valores nulos
df_accounting_movements['primary_reference_type'] = np.nan
df_accounting_movements['primary_reference_id'] = np.nan

# Lógica de combinación con prioridad:
# 1. payroll_employee_reference_id (más específico)
# 2. references_document_id
# 3. item_id

# Condición 1: Cuando payroll_employee_reference_id tiene un valor
cond_payroll = df_accounting_movements['payroll_employee_reference_id'].notna()
df_accounting_movements.loc[cond_payroll, 'primary_reference_type'] = 'Payroll Employee'
df_accounting_movements.loc[cond_payroll, 'primary_reference_id'] = df_accounting_movements['payroll_employee_reference_id']

# Condición 2: Cuando payroll_employee_reference_id es nulo, pero references_document_id no lo es
cond_doc = (~cond_payroll) & (df_accounting_movements['references_document_id'].notna())
df_accounting_movements.loc[cond_doc, 'primary_reference_type'] = 'Document'
df_accounting_movements.loc[cond_doc, 'primary_reference_id'] = df_accounting_movements['references_document_id']

# Condición 3: Cuando payroll_employee_reference_id y references_document_id son nulos, pero item_id no lo es
cond_item = (~cond_payroll) & (~cond_doc) & (df_accounting_movements['item_id'].notna())
df_accounting_movements.loc[cond_item, 'primary_reference_type'] = 'Item'
df_accounting_movements.loc[cond_item, 'primary_reference_id'] = df_accounting_movements['item_id']

# Para los casos donde ninguna de las referencias se llenó, primary_reference_type e _id quedarán como NaN.
# Rellenar 'primary_reference_type' con 'N/A' para mayor claridad
df_accounting_movements['primary_reference_type'] = df_accounting_movements['primary_reference_type'].fillna('N/A')

print("Columnas combinadas 'primary_reference_type' y 'primary_reference_id' creadas.")

# --- Paso 3: Opcional - Eliminar las columnas originales si ya no son necesarias ---
# *** Hemos añadido 'item_type' a la lista de columnas a eliminar ***
columns_to_drop = ['item_id', 'references_document_id', 'payroll_employee_reference_id', 'item_type']

df_accounting_movements_cleaned = df_accounting_movements.drop(columns=columns_to_drop)
print(f"Columnas originales {columns_to_drop} eliminadas.")

# --- Paso 4: Mostrar las primeras filas con las nuevas columnas ---
print("\nPrimeras 5 filas del DataFrame con las nuevas columnas de referencia:")
# Ajusta las columnas a mostrar en head() si quieres ver otras además de las nuevas de referencia
print(df_accounting_movements_cleaned[['id', 'primary_reference_type', 'primary_reference_id']].head())

# --- Paso 5: Verificar el conteo de nulos para las nuevas columnas ---
print("\nConteo de nulos para las nuevas columnas de referencia:")
print(df_accounting_movements_cleaned[['primary_reference_type', 'primary_reference_id']].isnull().sum())

# --- Paso 6: Verificar que item_type ha sido eliminada ---
print(f"\nColumnas restantes en el DataFrame después de la limpieza: {df_accounting_movements_cleaned.columns.tolist()}")

print("\nProceso de combinación de referencias y eliminación de 'item_type' completado.")

Conectando a la base de datos y cargando la tabla 'accounting_movements'...
Tabla 'accounting_movements' cargada exitosamente. Filas: 7020, Columnas: 22

Combinando columnas 'item_id', 'references_document_id', y 'payroll_employee_reference_id'...
Columnas combinadas 'primary_reference_type' y 'primary_reference_id' creadas.
Columnas originales ['item_id', 'references_document_id', 'payroll_employee_reference_id', 'item_type'] eliminadas.

Primeras 5 filas del DataFrame con las nuevas columnas de referencia:
   id primary_reference_type  primary_reference_id
0  74                   Item                 394.0
1  75                   Item                 394.0
2  76                   Item                 394.0
3  77                   Item                 394.0
4  78                   Item                 394.0

Conteo de nulos para las nuevas columnas de referencia:
primary_reference_type    0
primary_reference_id      0
dtype: int64

Columnas restantes en el DataFrame después de la limpieza: ['id', 'class_id', 'group_id', 'account_id', 'subaccount_id', 'accounting_movement', 'currency_id', 'name', 'date', 'debit_movement', 'credit_movement', 'third_party_type_id', 'third_party_id', 'document_type_id', 'document', 'document_id', 'created_at', 'updated_at', 'primary_reference_type', 'primary_reference_id']

Proceso de combinación de referencias y eliminación de 'item_type' completado.

C:\Users\DUVAN\AppData\Local\Temp\ipykernel_14852\289087782.py:29: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Payroll Employee' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_accounting_movements.loc[cond_payroll, 'primary_reference_type'] = 'Payroll Employee'

Tabla accounting_voucher_items

In [35]:
# 1. Reconectar (o asegurar que la conexión esté activa)
try:
    conexion = get_connection()
    cursor = conexion.cursor()

    # 2. Ejecutar la consulta para describir la tabla
    cursor.execute("DESCRIBE accounting_voucher_items;")
    columns_info = cursor.fetchall()

    print("Columnas de la tabla 'accounting_voucher_items':")
    for column in columns_info:
        print(f"  - {column[0]} ({column[1]})")

except Exception as e:
    print(f"Ocurrió un error: {e}")
finally:
    # 3. Cerrar el cursor y la conexión de forma segura
    if 'cursor' in locals() and cursor is not None:
        cursor.close()
    if 'conexion' in locals() and conexion.is_connected():
        conexion.close()
    print("Conexión y cursor cerrados.")

✅ Conexión exitosa a la base de datos
Columnas de la tabla 'accounting_voucher_items':
  - id (bigint unsigned)
  - accounting_voucher_id (bigint unsigned)
  - third_party_type_id (varchar(255))
  - third_party_id (bigint unsigned)
  - accounting_account_id (bigint unsigned)
  - description (varchar(255))
  - debit_movement (double(18,6))
  - credit_movement (double(18,6))
  - created_at (timestamp)
  - updated_at (timestamp)
Conexión y cursor cerrados.

Tabla accounting_vouchers

In [36]:
# 1. Reconectar (o asegurar que la conexión esté activa)
try:
    conexion = get_connection()
    cursor = conexion.cursor()

    # 2. Ejecutar la consulta para describir la tabla
    cursor.execute("DESCRIBE accounting_vouchers;")
    columns_info = cursor.fetchall()

    print("Columnas de la tabla 'accounting_vouchers':")
    for column in columns_info:
        print(f"  - {column[0]} ({column[1]})")

except Exception as e:
    print(f"Ocurrió un error: {e}")
finally:
    # 3. Cerrar el cursor y la conexión de forma segura
    if 'cursor' in locals() and cursor is not None:
        cursor.close()
    if 'conexion' in locals() and conexion.is_connected():
        conexion.close()
    print("Conexión y cursor cerrados.")

✅ Conexión exitosa a la base de datos
Columnas de la tabla 'accounting_vouchers':
  - id (bigint unsigned)
  - accounting_voucher_type_id (bigint unsigned)
  - prefix (varchar(50))
  - number (bigint)
  - voucher_date (date)
  - third_party_id (bigint unsigned)
  - third_party_type_id (varchar(50))
  - advance_account_payable_id (bigint unsigned)
  - supplier_account_id (bigint unsigned)
  - advance_account_receivable_id (bigint unsigned)
  - cartera_account_id (bigint unsigned)
  - currency_id (varchar(255))
  - total_value (double(18,6))
  - voucher_status_id (smallint unsigned)
  - preferred (tinyint(1))
  - created_at (timestamp)
  - updated_at (timestamp)
Conexión y cursor cerrados.

Tabla accounting_voucher_types

In [37]:
# 1. Reconectar (o asegurar que la conexión esté activa)
try:
    conexion = get_connection()
    cursor = conexion.cursor()

    # 2. Ejecutar la consulta para describir la tabla
    cursor.execute("DESCRIBE accounting_voucher_types;")
    columns_info = cursor.fetchall()

    print("Columnas de la tabla 'accounting_voucher_types':")
    for column in columns_info:
        print(f"  - {column[0]} ({column[1]})")

except Exception as e:
    print(f"Ocurrió un error: {e}")
finally:
    # 3. Cerrar el cursor y la conexión de forma segura
    if 'cursor' in locals() and cursor is not None:
        cursor.close()
    if 'conexion' in locals() and conexion.is_connected():
        conexion.close()
    print("Conexión y cursor cerrados.")

✅ Conexión exitosa a la base de datos
Columnas de la tabla 'accounting_voucher_types':
  - id (bigint unsigned)
  - code (varchar(50))
  - name (varchar(60))
  - prefix (varchar(50))
  - initial_number (bigint)
  - current_number (bigint)
  - ledger_id (int unsigned)
  - status (tinyint(1))
  - created_at (timestamp)
  - updated_at (timestamp)
Conexión y cursor cerrados.

Tabla retention_concepts

In [38]:
# 1. Reconectar (o asegurar que la conexión esté activa)
try:
    conexion = get_connection()
    cursor = conexion.cursor()

    # 2. Ejecutar la consulta para describir la tabla
    cursor.execute("DESCRIBE retention_concepts;")
    columns_info = cursor.fetchall()

    print("Columnas de la tabla 'retention_concepts':")
    for column in columns_info:
        print(f"  - {column[0]} ({column[1]})")

except Exception as e:
    print(f"Ocurrió un error: {e}")

✅ Conexión exitosa a la base de datos
Columnas de la tabla 'retention_concepts':
  - id (int unsigned)
  - description (text)
  - account_id (bigint unsigned)
  - created_at (timestamp)
  - updated_at (timestamp)

Tabla retentions

In [39]:
# 1. Reconectar (o asegurar que la conexión esté activa)
try:
    conexion = get_connection()
    cursor = conexion.cursor()

    # 2. Ejecutar la consulta para describir la tabla
    cursor.execute("DESCRIBE retentions;")
    columns_info = cursor.fetchall()

    print("Columnas de la tabla 'retentions':")
    for column in columns_info:
        print(f"  - {column[0]} ({column[1]})")

except Exception as e:
    print(f"Ocurrió un error: {e}")

✅ Conexión exitosa a la base de datos
Columnas de la tabla 'retentions':
  - id (int unsigned)
  - retention_type_id (varchar(255))
  - retention_concept (int unsigned)
  - description (varchar(255))
  - percentage (double(10,5))
  - uvt_base (double(18,6))
  - base (double(18,6))
  - notes (varchar(255))
  - status (tinyint(1))
  - account_id (bigint unsigned)
  - user_id (int unsigned)
  - is_custom (varchar(255))
  - created_at (timestamp)
  - updated_at (timestamp)

Tabla retentions_applied

In [40]:
# 1. Reconectar (o asegurar que la conexión esté activa)
try:
    conexion = get_connection()
    cursor = conexion.cursor()

    # 2. Ejecutar la consulta para describir la tabla
    cursor.execute("DESCRIBE retentions_applied;")
    columns_info = cursor.fetchall()

    print("Columnas de la tabla 'retentions_applied':")
    for column in columns_info:
        print(f"  - {column[0]} ({column[1]})")

except Exception as e:
    print(f"Ocurrió un error: {e}")

✅ Conexión exitosa a la base de datos
Columnas de la tabla 'retentions_applied':
  - id (bigint unsigned)
  - name (varchar(255))
  - type (varchar(255))
  - percentage (double(18,6))
  - base (double(18,6))
  - value (double(18,6))
  - retention_id (int unsigned)
  - contact_id (int unsigned)
  - document_id (bigint unsigned)
  - created_at (timestamp)
  - updated_at (timestamp)

Tabla retentions_certificates

In [42]:
# 1. Reconectar (o asegurar que la conexión esté activa)
try:
    conexion = get_connection()
    cursor = conexion.cursor()

    # 2. Ejecutar la consulta para describir la tabla
    cursor.execute("DESCRIBE retentions_certificates;")
    columns_info = cursor.fetchall()

    print("Columnas de la tabla 'retentions_certificates':")
    for column in columns_info:
        print(f"  - {column[0]} ({column[1]})")

except Exception as e:
    print(f"Ocurrió un error: {e}")

✅ Conexión exitosa a la base de datos
Columnas de la tabla 'retentions_certificates':
  - id (bigint unsigned)
  - contact_id (int unsigned)
  - document_id (bigint unsigned)
  - value (double(18,6))
  - sent (tinyint(1))
  - certificate_url (varchar(255))
  - created_at (timestamp)
  - updated_at (timestamp)

Tabla taxes

In [43]:
# 1. Reconectar (o asegurar que la conexión esté activa)
try:
    conexion = get_connection()
    cursor = conexion.cursor()

    # 2. Ejecutar la consulta para describir la tabla
    cursor.execute("DESCRIBE taxes;")
    columns_info = cursor.fetchall()

    print("Columnas de la tabla 'taxes':")
    for column in columns_info:
        print(f"  - {column[0]} ({column[1]})")

except Exception as e:
    print(f"Ocurrió un error: {e}")

✅ Conexión exitosa a la base de datos
Columnas de la tabla 'taxes':
  - id (smallint unsigned)
  - tax_type_id (varchar(255))
  - description (varchar(255))
  - percentage (double(10,5))
  - notes (varchar(255))
  - status (tinyint(1))
  - tax_account_deductible_id (bigint unsigned)
  - tax_account_generated_id (bigint unsigned)
  - user_id (int unsigned)
  - created_at (timestamp)
  - updated_at (timestamp)

Tabla payments

In [44]:
# 1. Reconectar (o asegurar que la conexión esté activa)
try:
    conexion = get_connection()
    cursor = conexion.cursor()

    # 2. Ejecutar la consulta para describir la tabla
    cursor.execute("DESCRIBE payments;")
    columns_info = cursor.fetchall()

    print("Columnas de la tabla 'payments':")
    for column in columns_info:
        print(f"  - {column[0]} ({column[1]})")

except Exception as e:
    print(f"Ocurrió un error: {e}")
finally:
    # 3. Cerrar el cursor y la conexión de forma segura
    if 'cursor' in locals() and cursor is not None:
        cursor.close()
    if 'conexion' in locals() and conexion.is_connected():
        conexion.close()
    print("Conexión y cursor cerrados.")

✅ Conexión exitosa a la base de datos
Columnas de la tabla 'payments':
  - id (bigint unsigned)
  - document_type_id (int unsigned)
  - billing_numbering_id (int unsigned)
  - payment_type (smallint unsigned)
  - contact_id (int unsigned)
  - number (int unsigned)
  - document_date (date)
  - document_hour (time)
  - associate_invoice (tinyint(1))
  - reference_document (json)
  - advance (tinyint(1))
  - subtotal (double(16,2))
  - discount (double(16,2))
  - gross (double(16,2))
  - pending (double(16,2))
  - total (double(16,2))
  - taxes (json)
  - retentions_value (double(16,2))
  - retentions (json)
  - retentions_details (json)
  - payments (json)
  - notes (varchar(255))
  - comments (varchar(255))
  - document_status_id (smallint unsigned)
  - DIAN_status (json)
  - contact_data (json)
  - details (json)
  - extra_data (json)
  - user_id (int unsigned)
  - deleted_at (timestamp)
  - created_at (timestamp)
  - updated_at (timestamp)
Conexión y cursor cerrados.

In [21]:
import pandas as pd
from sqlalchemy import create_engine
import json # Necesario para parsear strings JSON si no son objetos nativos

# Asegúrate de que get_engine() está definida en db_connection.py
from db_connection import get_engine

# --- Paso 1: Conectarse a la base de datos y cargar la tabla 'payments' ---
print("Conectando a la base de datos y cargando la tabla 'payments'...")
try:
    engine = get_engine()
    df_payments = pd.read_sql('SELECT * FROM payments', engine)
    print(f"Tabla 'payments' cargada exitosamente. Filas: {df_payments.shape[0]}, Columnas: {df_payments.shape[1]}")
except Exception as e:
    print(f"Error al cargar la tabla 'payments': {e}")
    # Considera salir o manejar el error adecuadamente si la carga falla
    raise # Relanzar la excepción para detener la ejecución si falla la carga.

# --- Paso 2: Identificar columnas JSON y aplanarlas ---
# Definimos las columnas que identificamos como JSON
json_columns = [
    'reference_document',
    'taxes',
    'retentions',
    'retentions_details',
    'payments', # Ojo: esta es la columna 'payments' en la tabla 'payments'.
    'DIAN_status',
    'contact_data',
    'details',
    'extra_data'
]

# Crear una copia del DataFrame para trabajar y mantener el original si es necesario
df_payments_flattened = df_payments.copy()

print("\nIniciando aplanamiento de columnas JSON...")

for col in json_columns:
    if col in df_payments_flattened.columns:
        print(f"Aplanando columna: '{col}'")
        
        # Convertir strings JSON a objetos Python (si no lo son ya)
        # Usamos .astype(str) para asegurar que el contenido sea string antes de json.loads,
        # lo que puede ayudar si hay valores no-string (ej., números)
        df_payments_flattened[col] = df_payments_flattened[col].astype(str).apply(
            lambda x: json.loads(x) if isinstance(x, str) and x.strip() and x.startswith(('[', '{')) else None
        )

        # Filtrar solo las filas donde el JSON no es nulo y es un diccionario/lista
        valid_json_data = df_payments_flattened[df_payments_flattened[col].apply(lambda x: isinstance(x, (dict, list)) and x is not None)][col]
        
        # Obtener los índices de las filas con JSON válido para unir correctamente
        valid_indices = valid_json_data.index

        if not valid_json_data.empty:
            try:
                # Comprobar si el JSON es una lista (para aplanamiento de múltiples registros por ID)
                # O si es un diccionario (para aplanamiento de claves a columnas)
                
                # Para el caso de 'payments' (la columna, no la tabla) o cualquier otra que sea una lista de objetos:
                if valid_json_data.apply(lambda x: isinstance(x, list)).any():
                    # Explode la lista de JSONs en múltiples filas, manteniendo el ID original.
                    # Esto es útil si un solo registro de pago tiene múltiples sub-pagos o ítems.
                    # Crea un DataFrame temporal para la columna JSON aplanada
                    temp_df = pd.json_normalize(valid_json_data.explode())
                    temp_df.index = valid_json_data.explode().index # Asegurar que el índice coincida
                    
                    # Unir con el DataFrame principal. Añadir un prefijo claro.
                    df_payments_flattened = df_payments_flattened.merge(
                        temp_df.add_prefix(f'{col}_'),
                        left_index=True,
                        right_index=True,
                        how='left',
                        suffixes=('', f'_{col}_dup') # Sufijo para columnas duplicadas, si las hay
                    )
                else: # Asumir que es un diccionario o un solo objeto JSON
                    # Aplanar el diccionario.
                    # Se usa `record_path=None` si el JSON de la columna es un diccionario con las claves a aplanar.
                    df_col_flattened = pd.json_normalize(valid_json_data)
                    df_col_flattened.index = valid_indices # Mantener el índice original

                    # Unir con el DataFrame original por el índice (id del pago)
                    df_payments_flattened = df_payments_flattened.merge(
                        df_col_flattened.add_prefix(f'{col}_'),
                        left_index=True,
                        right_index=True,
                        how='left',
                        suffixes=('', f'_{col}_dup')
                    )

                # Eliminar la columna original después de aplanarla
                df_payments_flattened = df_payments_flattened.drop(columns=[col])
                print(f"Columna '{col}' aplanada y eliminada. Nuevas columnas añadidas.")

            except Exception as e:
                print(f"ADVERTENCIA: No se pudo aplanar la columna '{col}' completamente. Error: {e}")
                print(f"Revisar la estructura JSON de '{col}' para un aplanamiento específico o manejar errores.")
        else:
            print(f"La columna '{col}' no contiene datos JSON válidos o no es un diccionario/lista en las filas seleccionadas.")
    else:
        print(f"La columna '{col}' no existe en el DataFrame original. Saltando.")


print("\nAplanamiento de campos JSON completado.")
# La línea corregida para el SyntaxError:
print(f"Nuevo tamaño del DataFrame \"df_payments_flattened\": {df_payments_flattened.shape[0]} filas, {df_payments_flattened.shape[1]} columnas.")

# --- Paso 3: Mostrar las primeras filas del DataFrame aplanado para verificar ---
print("\nPrimeras 5 filas del DataFrame 'df_payments_flattened':")
print(df_payments_flattened.head())

# --- Paso 4: Mostrar las nuevas columnas creadas ---
print("\nNuevas columnas añadidas (prefijadas por el nombre de la columna JSON original):")
# Obtener las columnas antes de aplanar (excluyendo las originales JSON que se eliminaron)
initial_non_json_cols = [c for c in df_payments.columns if c not in json_columns]
new_cols = [col for col in df_payments_flattened.columns if col not in initial_non_json_cols]
print(new_cols)

Conectando a la base de datos y cargando la tabla 'payments'...
Tabla 'payments' cargada exitosamente. Filas: 614, Columnas: 32

Iniciando aplanamiento de columnas JSON...
Aplanando columna: 'reference_document'
Columna 'reference_document' aplanada y eliminada. Nuevas columnas añadidas.
Aplanando columna: 'taxes'
Columna 'taxes' aplanada y eliminada. Nuevas columnas añadidas.
Aplanando columna: 'retentions'
Columna 'retentions' aplanada y eliminada. Nuevas columnas añadidas.
Aplanando columna: 'retentions_details'
Columna 'retentions_details' aplanada y eliminada. Nuevas columnas añadidas.
Aplanando columna: 'payments'
Columna 'payments' aplanada y eliminada. Nuevas columnas añadidas.
Aplanando columna: 'DIAN_status'
Columna 'DIAN_status' aplanada y eliminada. Nuevas columnas añadidas.
Aplanando columna: 'contact_data'
Columna 'contact_data' aplanada y eliminada. Nuevas columnas añadidas.
Aplanando columna: 'details'
Columna 'details' aplanada y eliminada. Nuevas columnas añadidas.
Aplanando columna: 'extra_data'
ADVERTENCIA: No se pudo aplanar la columna 'extra_data' completamente. Error: Unable to allocate 182. MiB for an array with shape (14, 1704763) and data type int64
Revisar la estructura JSON de 'extra_data' para un aplanamiento específico o manejar errores.

Aplanamiento de campos JSON completado.
Nuevo tamaño del DataFrame "df_payments_flattened": 7287 filas, 157 columnas.

Primeras 5 filas del DataFrame 'df_payments_flattened':
   id  document_type_id  billing_numbering_id  payment_type  contact_id  \
0   1                13                     3             0           2
1   2                13                     3             0           1
2   3                13                     3             0           7
3   4                13                     3             0           7
4   5                13                     3             0           1

   number document_date   document_hour  associate_invoice  advance  ...  \
0       1    2019-10-16 0 days 04:12:41                  1        0  ...
1       2    2019-10-16 0 days 05:56:17                  1        0  ...
2       3    2019-10-24 0 days 03:58:54                  1        0  ...
3       4    2019-10-24 0 days 04:00:50                  1        0  ...
4       5    2019-11-05 0 days 08:38:48                  1        0  ...

   details_retentions  details_discountValue  details_taxPercentage  \
0                 NaN                    NaN                    NaN
1                 NaN                    NaN                    NaN
2                 NaN                    NaN                    NaN
3                 NaN                    NaN                    NaN
4                 NaN                    NaN                    NaN

   details_unitSalePrice  details_taxDescription  details_discountPercentage  \
0                    NaN                     NaN                         NaN
1                    NaN                     NaN                         NaN
2                    NaN                     NaN                         NaN
3                    NaN                     NaN                         NaN
4                    NaN                     NaN                         NaN

  details_unitSalePriceNoTax details_headquarter  details_paymentAccount.id  \
0                        NaN                 NaN                        NaN
1                        NaN                 NaN                        NaN
2                        NaN                 NaN                        NaN
3                        NaN                 NaN                        NaN
4                        NaN                 NaN                        NaN

  details_paymentAccount.name
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN

[5 rows x 157 columns]

Nuevas columnas añadidas (prefijadas por el nombre de la columna JSON original):
['extra_data', 'reference_document_date', 'reference_document_total', 'reference_document_prefix', 'reference_document_invoice', 'reference_document_document_type_id', 'reference_document_billing_numbering_id', 'reference_document_document_id', 'taxes__id', 'taxes_base', 'taxes_type', 'taxes_value', 'taxes_percentage', 'taxes_description', 'retentions__id', 'retentions_base', 'retentions_type', 'retentions_value_retentions_dup', 'retentions_percentage', 'retentions_description', 'retentions_items', 'retentions_typeName', 'retentions_fromPayment', 'retentions_retentionId', 'retentions_details__id', 'retentions_details_base', 'retentions_details_type', 'retentions_details_value', 'retentions_details_typeName', 'retentions_details_percentage', 'retentions_details_description', 'retentions_details_retentionId', 'retentions_details_fromPayment', 'retentions_details_items', 'payments_value', 'payments_paymentMethodId', 'payments_paymentMethodDescription', 'payments_paymentReference', 'payments_affectedInvoices', 'payments_paymentAccount.id', 'payments_paymentAccount.name', 'payments_paymentValue', 'DIAN_status_date', 'DIAN_status_message', 'DIAN_status_status_id', 'contact_data_id', 'contact_data_city', 'contact_data_lead', 'contact_data_email', 'contact_data_group', 'contact_data_names', 'contact_data_notes', 'contact_data_phone', 'contact_data_client', 'contact_data_mobile', 'contact_data_region', 'contact_data_status', 'contact_data_address', 'contact_data_country', 'contact_data_user_id', 'contact_data_provider', 'contact_data_surnames', 'contact_data_zip_code', 'contact_data_extension', 'contact_data_full_name', 'contact_data_tenant_id', 'contact_data_created_at', 'contact_data_deleted_at', 'contact_data_updated_at', 'contact_data_check_digit', 'contact_data_obligations', 'contact_data_neighborhood', 'contact_data_business_name', 'contact_data_register_type', 'contact_data_person_type_id', 'contact_data_document_number', 'contact_data_iva_responsible', 'contact_data_economic_activity', 'contact_data_payment_condition_id', 'contact_data_tax_responsibility_id', 'contact_data_contributory_scheme_id', 'contact_data_identity_document_type_id', 'contact_data_tradename', 'contact_data_price_list_id', 'contact_data_max_billing_value', 'contact_data_photo', 'contact_data_e_user', 'contact_data_e_status', 'contact_data_dial_code', 'contact_data_main_contact', 'contact_data_from_ecommerce', 'contact_data_shipping_address', 'contact_data_e_register_source', 'contact_data_address_complement', 'contact_data_headquarter_id', 'contact_data_external_id', 'contact_data_national', 'contact_data_gender_id', 'contact_data_is_own_tenant_provider', 'details_id', 'details_paid', 'details_total', 'details_credit', 'details_number', 'details_prefix', 'details_pending', 'details_paymentValue', 'details_gross', 'details_index', 'details_ivaTotal', 'details_retentionsValue', 'details_aTotalRetentions', 'details_electronicBilling', 'details_prevRetentionsValue', 'details_prevTotalRetentions', 'details_aTotalRetentionsDetails', 'details_prevTotalRetentionsDetails', 'details_name', 'details_notes', 'details_taxId', 'details_taxType', 'details_quantity', 'details_taxTotal', 'details_taxValue', 'details_retentions', 'details_discountValue', 'details_taxPercentage', 'details_unitSalePrice', 'details_taxDescription', 'details_discountPercentage', 'details_unitSalePriceNoTax', 'details_headquarter', 'details_paymentAccount.id', 'details_paymentAccount.name']

In [45]:
# 1. Reconectar (o asegurar que la conexión esté activa)
try:
    conexion = get_connection()
    cursor = conexion.cursor()

    # 2. Ejecutar la consulta para describir la tabla
    cursor.execute("DESCRIBE payments;")
    columns_info = cursor.fetchall()

    print("Columnas de la tabla 'payments':")
    for column in columns_info:
        print(f"  - {column[0]} ({column[1]})")

except Exception as e:
    print(f"Ocurrió un error: {e}")
finally:
    # 3. Cerrar el cursor y la conexión de forma segura
    if 'cursor' in locals() and cursor is not None:
        cursor.close()
    if 'conexion' in locals() and conexion.is_connected():
        conexion.close()
    print("Conexión y cursor cerrados.")

✅ Conexión exitosa a la base de datos
Columnas de la tabla 'payments':
  - id (bigint unsigned)
  - document_type_id (int unsigned)
  - billing_numbering_id (int unsigned)
  - payment_type (smallint unsigned)
  - contact_id (int unsigned)
  - number (int unsigned)
  - document_date (date)
  - document_hour (time)
  - associate_invoice (tinyint(1))
  - reference_document (json)
  - advance (tinyint(1))
  - subtotal (double(16,2))
  - discount (double(16,2))
  - gross (double(16,2))
  - pending (double(16,2))
  - total (double(16,2))
  - taxes (json)
  - retentions_value (double(16,2))
  - retentions (json)
  - retentions_details (json)
  - payments (json)
  - notes (varchar(255))
  - comments (varchar(255))
  - document_status_id (smallint unsigned)
  - DIAN_status (json)
  - contact_data (json)
  - details (json)
  - extra_data (json)
  - user_id (int unsigned)
  - deleted_at (timestamp)
  - created_at (timestamp)
  - updated_at (timestamp)
Conexión y cursor cerrados.

GLOBAL

In [24]:
import pandas as pd
from sqlalchemy import create_engine

# Asegúrate de que get_engine() está definida en db_connection.py
from db_connection import get_engine

# Lista de todas las tablas que hemos analizado
tables_to_check = [
    'accounting_account_balances',
    'accounting_accounts',
    'accounting_movements',
    'accounting_voucher_items',
    'accounting_voucher_types',
    'accounting_vouchers',
    'retention_concepts',
    'retentions',
    'retentions_applied',
    'retentions_certificates',
    'taxes',
    'payments'
]

engine = None # Inicializar engine fuera del try para que sea accesible en finally

try:
    print("Conectando a la base de datos para revisar datos faltantes...")
    engine = get_engine()
    print("Conexión a la base de datos establecida.")

    for table_name in tables_to_check:
        print(f"\n--- Analizando datos faltantes en la tabla: '{table_name}' ---")
        try:
            df = pd.read_sql(f'SELECT * FROM {table_name}', engine)

            if df.empty:
                print(f"La tabla '{table_name}' está vacía. No hay datos que analizar.")
                continue

            # Calcular la cantidad de valores nulos por columna
            missing_values_count = df.isnull().sum()

            # Calcular el porcentaje de valores nulos por columna
            missing_values_percentage = (df.isnull().sum() / len(df)) * 100

            # Crear un DataFrame con el recuento y el porcentaje de nulos
            missing_data_df = pd.DataFrame({
                'Missing Count': missing_values_count,
                'Missing Percentage': missing_values_percentage
            })

            # Filtrar solo las columnas que tienen valores faltantes
            missing_data_df = missing_data_df[missing_data_df['Missing Count'] > 0].sort_values(by='Missing Percentage', ascending=False)

            if missing_data_df.empty:
                print(f"No se encontraron valores faltantes en la tabla '{table_name}'.")
            else:
                print("Valores faltantes por columna:")
                print(missing_data_df)

            # Opcional: Visualización simple para tablas más pequeñas
            # import matplotlib.pyplot as plt
            # import seaborn as sns
            # if not missing_data_df.empty:
            #     plt.figure(figsize=(10, 6))
            #     sns.barplot(x=missing_data_df.index, y='Missing Percentage', data=missing_data_df)
            #     plt.title(f'Porcentaje de Valores Faltantes en {table_name}')
            #     plt.ylabel('Porcentaje Faltante (%)')
            #     plt.xticks(rotation=45, ha='right')
            #     plt.tight_layout()
            #     plt.show()

        except Exception as e:
            print(f"Error al cargar o analizar la tabla '{table_name}': {e}")
            print(f"Asegúrate de que la tabla '{table_name}' existe y es accesible.")

except Exception as e:
    print(f"Error general de conexión a la base de datos: {e}")
finally:
    if engine:
        # Asegúrate de cerrar la conexión si es un motor que lo requiere explícitamente
        # Para SQLAlchemy con un pool, esto no siempre es necesario o deseable.
        # Pero es buena práctica si la conexión directa lo requiere.
        # En general, el `engine` de SQLAlchemy maneja el pool de conexiones.
        pass # La gestión de conexiones con `engine` de SQLAlchemy es automática.
    print("\nProceso de revisión de datos faltantes completado.")

Conectando a la base de datos para revisar datos faltantes...
Conexión a la base de datos establecida.

--- Analizando datos faltantes en la tabla: 'accounting_account_balances' ---
No se encontraron valores faltantes en la tabla 'accounting_account_balances'.

--- Analizando datos faltantes en la tabla: 'accounting_accounts' ---
No se encontraron valores faltantes en la tabla 'accounting_accounts'.

--- Analizando datos faltantes en la tabla: 'accounting_movements' ---
Valores faltantes por columna:
                               Missing Count  Missing Percentage
references_document_id                  6019           85.740741
item_id                                 5511           78.504274
item_type                               5511           78.504274
document                                4510           64.245014
payroll_employee_reference_id           2510           35.754986

--- Analizando datos faltantes en la tabla: 'accounting_voucher_items' ---
No se encontraron valores faltantes en la tabla 'accounting_voucher_items'.

--- Analizando datos faltantes en la tabla: 'accounting_voucher_types' ---
Valores faltantes por columna:
           Missing Count  Missing Percentage
ledger_id             19                95.0

--- Analizando datos faltantes en la tabla: 'accounting_vouchers' ---
Valores faltantes por columna:
                               Missing Count  Missing Percentage
third_party_id                             9           81.818182
third_party_type_id                        9           81.818182
advance_account_payable_id                 5           45.454545
supplier_account_id                        5           45.454545
advance_account_receivable_id              5           45.454545
cartera_account_id                         5           45.454545

--- Analizando datos faltantes en la tabla: 'retention_concepts' ---
No se encontraron valores faltantes en la tabla 'retention_concepts'.

--- Analizando datos faltantes en la tabla: 'retentions' ---
Valores faltantes por columna:
                   Missing Count  Missing Percentage
notes                         70           86.419753
base                          50           61.728395
description                   49           60.493827
uvt_base                      31           38.271605
retention_concept             31           38.271605
account_id                    31           38.271605
created_at                    13           16.049383

--- Analizando datos faltantes en la tabla: 'retentions_applied' ---
No se encontraron valores faltantes en la tabla 'retentions_applied'.

--- Analizando datos faltantes en la tabla: 'retentions_certificates' ---
No se encontraron valores faltantes en la tabla 'retentions_certificates'.

--- Analizando datos faltantes en la tabla: 'taxes' ---
Valores faltantes por columna:
                           Missing Count  Missing Percentage
notes                                 17           89.473684
tax_account_deductible_id              5           26.315789
created_at                             5           26.315789
tax_account_generated_id               1            5.263158
updated_at                             1            5.263158

--- Analizando datos faltantes en la tabla: 'payments' ---
Valores faltantes por columna:
                    Missing Count  Missing Percentage
deleted_at                    612           99.674267
comments                      610           99.348534
notes                         446           72.638436
taxes                         290           47.231270
retentions                    247           40.228013
retentions_details            247           40.228013

Proceso de revisión de datos faltantes completado.